<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <title>Popcorn time</title>

    <meta name="description" content="Pagina errore 403 - Accesso negato">
    <meta name="keywords" content="accesso negato, errore 403">

    <meta name="author" content="FrankCastleTech">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css" media="screen">
</head>

<body>
    <!--header-->
    <nav id="breadcrumb">
        <p>Ti trovi in: Errore 403</p>
    </nav>

    <nav id="menu">
        <ul>
            <li><a href="index.php">Home</a></li>
            <li><a href="categories.php">Categorie</a></li>
            <!--menu_admin_start-->
            <li><a href="users.php">Utenti</a></li>
            <!--menu_admin_end-->
            <li><a href="about.php">Informazioni</a></li>
        </ul>
    </nav>

    <!--profile-->

    <aside></aside>
    <main>
        <h2>Errore 403: Accesso Negato</h2>
        <p>
            Scusaci questa zona è acessibile solo dai membri dello staff<br>
            Però puoi tornare alla <a href="index.php">home da qui</a>
        </p>
    </main>

    <!--footer-->
</body>

</html>