<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <title>Errore | Popcorn time</title>

    <meta name="description" content="Errore 403 - Accesso negato alla pagina." />
    <meta name="keywords" content="accesso negato, errore 403" />

    <!--html_head-->
  </head>

  <body>
    <!--header-->

    <div id="top-nav">
      <nav aria-label="breadcrumb" id="breadcrumb">
        <p>
          Ti trovi in: <a href="index.php"><span lang="en">Home</span></a> &gt; Errore accesso negato
        </p>
      </nav>
      <!--hamburger-->
    </div>

    <nav aria-label="navbar" id="menu">
      <ul id="navbar">
        <li>
          <a href="index.php"><span lang="en">Home</span></a>
        </li>
        <li><a href="categories.php">Categorie</a></li>
        <!--menu_admin_start-->
        <li><a href="users.php">Utenti</a></li>
        <li><a href="create.php">Crea Contenuto</a></li>
        <!--menu_admin_end-->
        <li><a href="about.php">Informazioni</a></li>
      </ul>
      <!--profile-->
    </nav>

    <main id="contenuto" class="errorPage">
      <h2>Errore 403: Accesso Negato</h2>
      <p>Scusaci questa zona non è accessibile</p>
      <p>
        Però puoi tornare alla <a href="index.php"><span lang="en">Home</span> da qui</a>
      </p>
    </main>

    <!--torna_su-->
    <!--footer-->
  </body>
</html>
