<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <title>Errore | Popcorn time</title>

    <meta name="description" content="Errore 500 - Problema del server" />
    <meta name="keywords" content="errore 500, problema server, accesso negato" />

    <!--html_head-->
  </head>

  <body>
    <!--header-->

    <div id="top-nav">
      <nav aria-label="breadcrumb" id="breadcrumb">
        <p>
          Ti trovi in: <a href="index.php"><span lang="en">Home</span></a> &gt; Errore <span lang="en">server</span>
        </p>
      </nav>
      <!--hamburger-->
    </div>

    <nav aria-label="navbar" id="menu" aria-hidden="false">
      <ul id="navbar">
        <li>
          <a href="index.php"><span lang="en">Home</span></a>
        </li>
        <li><a href="categories.php">Categorie</a></li>
        <!--menu_admin_start-->
        <li><a href="users.php">Utenti</a></li>
        <li><a href="create.php">Crea Contenuto</a></li>
        <!--menu_admin_end-->
        <li><a href="about.php">Informazioni</a></li>
      </ul>
      <!--user_logged_start-->
      <div id="loggato">
        <p id="utenteCorrente">Utente corrente:</p>
        <a aria-describedby="utenteCorrente" href="profile.php">{{username}}</a>
        <form method="post" action="logout.php">
          <fieldset>
            <legend>Effettua la disconnessione</legend>
            <input type="submit" value="Esci" />
          </fieldset>
        </form>
      </div>
      <!--user_logged_end-->
      <!--profile-->
    </nav>

    <main id="contenuto" class="errorPage">
      <h2>Errore 500: Problema del <span lang="en">Server</span></h2>
      <p>
        Oops! Qualcosa è andato storto nel nostro <span lang="en">server</span>, abbiamo posato i popcorn e stiamo già lavorando per risolvere il problema! Ma non ti preoccupare,
        nessuna informazione è stata persa e puoi continuare la navigazione utilizzando il menù in alto.
      </p>
    </main>

    <!--torna_su-->
    <!--footer-->
  </body>
</html>
