<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <title>Popcorn time</title>

    <meta name="description" content="Pagina errore 5xx - Problema server" />
    <meta name="keywords" content="accesso negato, errore 500" />

    <meta
      name="author"
      content="Loris Libralato, Leonardo Lucato, Piva Riccardo, Matteo Campagnaro, Tommaso Diviesti"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/style.css" media="screen" />
    <link rel="stylesheet" href="/css/mini.css" media="screen and (max-width: 930px)" />
  </head>

  <body>
    <!--header-->

    <nav id="breadcrumb">
      <p>Ti trovi in: Errore server</p>
    </nav>

    <nav id="menu">
      <ul id="navbar">
        <li><a href="/index.php">Home</a></li>
        <li><a href="/categories.php">Categorie</a></li>
        <!--menu_admin_start-->
        <li><a href="/users.php">Utenti</a></li>
        <!--menu_admin_end-->
        <li><a href="/about.php">Informazioni</a></li>
      </ul>
      <!--profile-->
    </nav>

    <aside></aside>

    <main id="contenuto">
      <h2>Errore 500: Problema del Server</h2>
      <p>
        Oops! Qualcosa è andato storto nel nostro server, abbiamo posato i popcorn e stiamo già
        lavorando per risolvere il problema! Ma non ti preoccupare, nessuna informazione è stata
        persa e puoi continuare la navigazione utilizzando il menù in alto.
      </p>
    </main>

    <!--torna_su-->
    <!--footer-->
  </body>
</html>
