<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <title>Popcorn time</title>

    <meta name="description" content="Pagina inormazioni sitoweb sito web di recensioni di film" />
    <meta name="keywords" content="informazioni sito web, chi siamo" />

    <meta name="author" content="FrankCastleTech" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/style.css" media="screen" />
    <link rel="stylesheet" href="css/mini.css" media="screen and (max-width: 1200px)" />
  </head>

  <body>
    <!--header-->
    <!--vai_contenuto-->

    <nav id="breadcrumb">
      <p>Ti trovi in: Informazioni</p>
    </nav>

    <nav id="menu">
      <ul id="navbar">
        <li><a href="index.php">Home</a></li>
        <li><a href="categories.php">Categorie</a></li>
        <!--menu_admin_start-->
        <li><a href="users.php">Utenti</a></li>
        <!--menu_admin_end-->
        <li id="currentLink">Informazioni</li>
      </ul>
      <!--profile-->
    </nav>

    <!--
    +-----------------+
    |     Header      |
    +-----------------+
    |  Informazioni   |
    |  Scopo          |
    |  Team           |
    +-----------------+
    |     Footer      |
    +-----------------+
    -->

    <aside></aside>

    <main>
      <h2>Informazioni</h2>
      <p>
        Benvenuti su Popcorn time, il sito dedicato alle recensioni dei migliori film del momento.
      </p>
      <h3>Scopo</h3>
      <p>
        Vogliamo fornire un posto in cui varie persone possano fornire recensioni dei film più
        recenti e popolari come degli amici al bar.
      </p>
      <h3>Il Nostro Team</h3>
      <p>Siamo la FrankCastleTech composta da Me, Leonardo, Loris, Tommaso, Matteo</p>
    </main>

    <!--torna_su-->
    <!--footer-->
  </body>
</html>
