<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <title>Informazioni | Popcorn time</title>

    <meta name="description" content="Pagina informazioni di recensioni di film" />
    <meta name="keywords" content="informazioni, popcorn time, team, film, chi siamo" />

    <meta name="author" content="Loris Libralato, Leonardo Lucato, Piva Riccardo, Matteo Campagnaro, Tommaso Diviesti" />

    <!--html_head-->
  </head>

  <body>
    <!--header-->

    <div id="top-nav">
      <nav aria-label="breadcrumb" id="breadcrumb">
        <p>
          Ti trovi in: <a href="index.php"><span lang="en">Home</span></a> &gt; Informazioni
        </p>
      </nav>
      <!--hamburger-->
    </div>

    <nav aria-label="navbar" id="menu" aria-hidden="false">
      <ul id="navbar">
        <li>
          <a href="index.php"><span lang="en">Home</span></a>
        </li>
        <li><a href="categories.php">Categorie</a></li>
        <!--menu_admin_start-->
        <li><a href="users.php">Utenti</a></li>
        <li><a href="create.php">Crea Contenuto</a></li>
        <!--menu_admin_end-->
        <li id="currentLink">Informazioni</li>
      </ul>
      <!--user_logged_start-->
      <div id="loggato">
        <p id="utenteCorrente">Utente corrente:</p>
        <a aria-describedby="utenteCorrente" href="profile.php">{{username}}</a>
        <form method="post" action="logout.php">
          <fieldset>
            <legend>Effettua la disconnessione</legend>
            <input type="submit" value="Esci" />
          </fieldset>
        </form>
      </div>
      <!--user_logged_end-->
      <!--profile-->
    </nav>

    <main id="contenuto">
      <h2>Informazioni</h2>
      <p>Benvenuti su <span lang="en">Popcorn time</span>, il sito dedicato alle recensioni dei migliori film del momento.</p>
      <h3>Scopo</h3>
      <p>
        Lo scopo del nostro sito è fornire una guida affidabile per gli appassionati di cinema, offrendo recensioni, analisi e suggerimenti personalizzati sui film. Vogliamo
        diventare un punto di riferimento per chi cerca opinioni imparziali, aiutando gli utenti a scoprire nuove pellicole e a scegliere i film più adatti ai propri gusti. Il
        nostro impegno è quello di promuovere una cultura cinematografica inclusiva, dando voce a diverse prospettive e valorizzando sia i grandi successi che le opere più
        sconosciute. In un mondo in cui le opzioni sono infinite, il nostro sito vuole essere il filtro che rende più facile orientarsi e apprezzare il meglio del cinema.
      </p>
      <h3>Il Nostro <span lang="en">Team</span></h3>
      <ul class="griglia-about">
        <li>
          <img alt="Foto profilo di Riccardo Piva" src="images/no_picture_available.png" />
          <p>Riccardo Piva</p>
        </li>
        <li>
          <img alt="Foto profilo di Tommaso Diviesti" src="images/no_picture_available.png" />
          <p>Tommaso Diviesti</p>
        </li>
        <li>
          <img alt="Foto profilo di Leonardo Lucato" src="images/no_picture_available.png" />
          <p>Leonardo Lucato</p>
        </li>
        <li>
          <img alt="Foto profilo di Loris Libralato" src="images/no_picture_available.png" />
          <p>Loris Libralato</p>
        </li>
        <li>
          <img alt="Foto profilo di Matteo Campagnaro" src="images/no_picture_available.png" />
          <p>Matteo Campagnaro</p>
        </li>
      </ul>
    </main>

    <!--torna_su-->
    <!--footer-->
  </body>
</html>
