<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <title>Movies</title>

    <meta name="description" content="Pagina dedicata alle recensioni dei migliori film">
    <meta name="keywords" content="film review">

    <meta name="author" content="TechWeb Castelfranco Veneto">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css" media="screen">
</head>

<body>
    <!--header-->
    <nav id="breadcrumb">
        <p>Ti trovi in: Categorie</p>
    </nav>

    <nav id="menu">
        <ul>
            <li><a href="index.php">Home</a></li>
            <li id="currentLink">Categorie</li>
            <li><a href="users.php">Utenti</a></li>
            <li><a href="about.php">Informazioni</a></li>
        </ul>
    </nav>

    <aside></aside>

    <main>
        <!--category_start-->
        <div>
            <a href="films.php?cat={{cat_name}}">{{cat_name}}</a>
        </div>
        <!--category_end-->
    </main>

    <!--footer-->
</body>

</html>