<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <title>Popcorn time</title>

    <meta name="description" content="Categorie dei migliori film" />
    <meta name="keywords" content="categorie film, generi cinematografici" />

    <meta name="author" content="FrankCastleTech" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/style.css" media="screen" />
  </head>

  <body>
    <!--header-->
    <!--vai_contenuto-->

    <nav id="breadcrumb">
      <p>Ti trovi in: Categorie</p>
    </nav>

    <nav id="menu">
      <ul>
        <li><a href="index.php">Home</a></li>
        <li id="currentLink">Categorie</li>
        <!--menu_admin_start-->
        <li><a href="users.php">Utenti</a></li>
        <!--menu_admin_end-->
        <li><a href="about.php">Informazioni</a></li>
      </ul>
    </nav>

    <!--profile-->

    <!--
    +-----------------+
    |     Header      |
    +-----------------+
    |  Categorie:     |
    |  - Azione       |
    |  - Commedia     |
    |  - Dramma       |
    |  - ...          |
    +-----------------+
    |     Footer      |
    +-----------------+
    Listone di categorie di film è da capire se mettere tipo films una lista di
    categorie o piu stile index e allora mettere qui i film per categoria in ordine
    di voti tipo
    -->

    <aside></aside>

    <main>
      <h2>Categorie</h2>
      <ul>
        <!--category_start-->
        <li><a href="films.php?cat={{cat_name}}">{{cat_name}}</a></li>
        <!--category_end-->
      </ul>
    </main>

    <!--torna_su-->
    <!--footer-->
  </body>
</html>
