<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
    <!-- header_start -->
    <header>
        <h1 lang="en">Movie Review</h1>
        <h2>Recensione di film</h2>
    </header>
    <!-- header_end -->

    <!-- user_logged_start -->
    <div>
        <p>Utente corrente: {{username}}</p>
        <form method="POST" action="logout.php">
            <input type="submit" value="logout">
        </form>
    </div>
    <!-- user_logged_end -->

    <!-- user_not_logged_start -->
    <a href="login.php">Login Page</a>
    <!-- user_not_logged_end -->

    <!-- movie_start -->
    <div>
        <p>Nome:</p>
        <p>{{name}}</p>
        <p>Descrizione:</p>
        <p>{{description}}</p>
    </div>
    <!-- movie_end -->

    <!-- footer_start -->
    <footer>
        <span lang="en">All rights Reserved</span>
    </footer>
    <!-- footer_end -->
</body>

</html>