<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
    <!--header_start-->
    <header>
        <img src="immagine-sinistra.png" alt="Immagine di sinistra">
        <!--Da vedere se tenere div-->
        <div id="contenuto-centrale">
            <h1>Popcorn time</h1>
            <h2>
                Un sito in cui te e tanti altri potete esprimere le vostre opinioni
                come un gruppo di amici al bar
            </h2>
        </div>
        <img src="immagine-destra.png" alt="Immagine di destra">
    </header>
    <!--header_end-->

    <!--user_logged_start-->
    <div>
        <p>Utente corrente: {{username}}</p>
        <form method="POST" action="logout.php">
            <input type="submit" value="logout">
        </form>
    </div>
    <!--user_logged_end-->

    <!--user_not_logged_start-->
    <a href="login.php">Login Page</a>
    <!--user_not_logged_end-->

    <!--footer_start-->
    <footer>
        <img src="immagine-wcag1.png" alt="Immagine certificazione wcag1">
        <p>&copy; 2025 FrankCastleTech. All rights reserved.</p>
        <img src="immagine-wcag2.png" alt="Immagine certificazione wcag2">
    </footer>
    <!--footer_end-->
</body>

</html>
