<!DOCTYPE html>
<html lang="it">
  <head>
    <!--html_head_start-->
    <meta name="author" content="Loris Libralato, Leonardo Lucato, Piva Riccardo, Matteo Campagnaro, Tommaso Diviesti" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <base href="{{html_head_base_path}}" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <script type="text/javascript" src="js/main.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/mini.css" media="screen and (max-width: 768px)" />
    <!--html_head_end-->
  </head>

  <body>
    <!--header_start-->
    <header id="top">
      <nav aria-label="Aiuti alla navigazione">
        <ul class="listaAiuti">
          <li><a href="#contenuto" class="aiutoNavigazione">Vai al contenuto</a></li>
          <li><a href="#menu" class="aiutoNavigazione">Vai alla navigazione</a></li>
        </ul>
      </nav>
      <div id="contenuto-centrale">
        <h1><span lang="en">Popcorn Time</span></h1>
      </div>
    </header>
    <!--header_end-->

    <!--user_logged_start-->
    <div id="loggato">
      <p id="utenteCorrente">Utente corrente:</p>
      <a aria-describedby="utenteCorrente" href="profile.php">{{username}}</a>
      <form method="post" action="logout.php">
        <fieldset>
          <legend>Effettua la disconnessione</legend>
          <input type="submit" value="Esci" />
        </fieldset>
      </form>
    </div>
    <!--user_logged_end-->

    <!--user_not_logged_start-->
    <div id="login">
      <a href="login.php">Accedi</a>
      <a href="signup.php">Registrati</a>
    </div>
    <!--user_not_logged_end-->

    <!--hamburger_start-->
    <nav aria-label="burger menu">
      <button id="btnOpen" aria-expanded="false" aria-hidden="false" aria-label="menù"></button>
    </nav>
    <!--hamburger_end-->

    <!--torna_su_start-->
    <a href="#top" id="tornaSu">Torna su</a>
    <!--torna_su_end-->

    <!--footer_start-->
    <footer>
      <img src="images/w3c_css.png" alt="Logo CSS3 valido" />
      <p>&copy; 2025 FrankCastleTech. All rights reserved.</p>
      <img src="images/w3c_html5.png" alt="Logo HTML5 valido" />
    </footer>
    <!--footer_end-->
  </body>
</html>
