<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <title>Crea contenuto | Popcorn Time</title>

    <meta name="description" content="Pagina per la creazione di contenuti relativi ai film su Popcorn Time. Aggiungi attori, crew e altre informazioni sui film." />
    <meta name="keywords" content="creazione contenuti, Popcorn Time, aggiungi attori, aggiungi crew, film, cinema, contenuti film" />

    <!--html_head-->
  </head>

  <body>
    <!--header-->

    <div id="top-nav">
      <nav aria-label="breadcrumb" id="breadcrumb">
        <p>
          Ti trovi in: <a href="index.php"><span lang="en">Home</span></a> <abbr title="con sotto">&gt;</abbr> Crea contenuto
        </p>
      </nav>
      <!--hamburger-->
    </div>

    <nav aria-label="navbar" id="menu" aria-hidden="false">
      <ul id="navbar">
        <li>
          <a href="index.php"><span lang="en">Home</span></a>
        </li>
        <li><a href="categories.php">Categorie</a></li>
        <!--menu_admin_start-->
        <li><a href="users.php">Utenti</a></li>
        <li id="currentLink">Crea Contenuto</li>
        <!--menu_admin_end-->
        <li><a href="about.php">Informazioni</a></li>
      </ul>
      <!--user_logged_start-->
      <div id="loggato">
        <p id="utenteCorrente">Utente corrente:</p>
        <a aria-describedby="utenteCorrente" href="profile.php">{{username}}</a>
        <form method="post" action="logout.php">
          <fieldset>
            <legend>Effettua la disconnessione</legend>
            <input type="submit" value="Esci" />
          </fieldset>
        </form>
      </div>
      <!--user_logged_end-->
      <!--profile-->
    </nav>

    <main id="contenuto">
      <form class="formCreazione" id="create_people" action="create.php" method="post" enctype="multipart/form-data" novalidate="novalidate">
        <fieldset>
          <legend>Aggiungi una persona</legend>
          <input type="hidden" name="action" value="create_people" />

          <label for="crea_people_name">Nome e Cognome</label>
          <input type="text" name="name" id="crea_people_name" required="required" />
          <span id="crea_people_name_err" class="field-error hidden" aria-live="assertive" data-input="crea_people_name"></span>

          <label for="crea_people_image">Immagine profilo</label>
          <input type="file" name="image" id="crea_people_image" />
          <span id="crea_people_image_err" class="field-error hidden" aria-live="assertive" data-input="crea_people_image"></span>

          <input type="submit" value="Crea" />
          <!--create_people_error_start-->
          <span class="form-submit-error">{{error}}</span>
          <!--create_people_error_end-->
          <!--create_people_success_start-->
          <span class="form-submit-success">{{success}}</span>
          <!--create_people_success_end-->
        </fieldset>
      </form>

      <form class="formCreazione" id="create_film" action="create.php" method="post" enctype="multipart/form-data" novalidate="novalidate">
        <fieldset>
          <legend>Crea un nuovo film</legend>
          <input type="hidden" name="action" value="create_film" />

          <label for="crea_film_name">Nome</label>
          <input type="text" name="name" id="crea_film_name" required="required" minlength="2" />
          <span id="crea_film_name_err" class="field-error hidden" aria-live="assertive" data-input="crea_film_name"></span>

          <label for="crea_film_original_name">Nome originale</label>
          <input type="text" name="original_name" id="crea_film_original_name" minlength="2" />
          <span id="crea_film_original_name_err" class="field-error hidden" aria-live="assertive" data-input="crea_film_original_name"></span>

          <label for="crea_film_original_language">Lingua originale</label>
          <input type="text" name="original_language" id="crea_film_original_language" />
          <span id="crea_film_original_language_err" class="field-error hidden" aria-live="assertive" data-input="crea_film_original_language"></span>

          <label for="crea_film_release_date">Data di uscita</label>
          <input type="date" name="release_date" id="crea_film_release_date" />
          <span id="crea_film_release_date_err" class="field-error hidden" aria-live="assertive" data-input="crea_film_release_date"></span>

          <label for="crea_film_runtime">Durata (<abbr title="minuti">min</abbr>)</label>
          <input type="number" name="runtime" id="crea_film_runtime" min="10" max="600" />
          <span id="crea_film_runtime_err" class="field-error hidden" aria-live="assertive" data-input="crea_film_runtime"></span>

          <label for="crea_film_phase">Fase</label>
          <select name="phase" id="crea_film_phase" required="required">
            <option value="Voci">Voci</option>
            <option value="Da annunciare">Da annunciare</option>
            <option value="Annunciato">Annunciato</option>
            <option value="Pianificato">Pianificato</option>
            <option value="Cancellato">Cancellato</option>
            <option value="Pre produzione">Pre produzione</option>
            <option value="In produzione">In produzione</option>
            <option value="Post produzione">Post produzione</option>
            <option value="Completato">Completato</option>
            <option value="Rilasciato">Rilasciato</option>
          </select>
          <span id="crea_film_phase_err" class="field-error hidden" aria-live="assertive" data-input="crea_film_phase"></span>

          <label for="crea_film_budget">Budget</label>
          <input type="number" name="budget" id="crea_film_budget" min="0" />
          <span id="crea_film_budget_err" class="field-error hidden" aria-live="assertive" data-input="crea_film_budget"></span>

          <label for="crea_film_revenue">Incasso</label>
          <input type="number" name="revenue" id="crea_film_revenue" min="0" />
          <span id="crea_film_revenue_err" class="field-error hidden" aria-live="assertive" data-input="crea_film_revenue"></span>

          <label for="crea_film_description">Descrizione</label>
          <textarea rows="10" cols="40" id="crea_film_description" name="description" minlength="8" required="required"></textarea>
          <span id="crea_film_description_err" class="field-error hidden" aria-live="assertive" data-input="crea_film_description"></span>

          <label for="crea_film_image">Immagine</label>
          <input type="file" name="image" id="crea_film_image" />
          <span id="crea_film_image_err" class="field-error hidden" aria-live="assertive" data-input="crea_film_image"></span>

          <input type="submit" value="Crea" />

          <!--create_film_error_start-->
          <span class="form-submit-error">{{error}}</span>
          <!--create_film_error_end-->
          <!--create_film_success_start-->
          <span class="form-submit-success">{{success}}</span>
          <!--create_film_success_end-->
        </fieldset>
      </form>

      <form class="formCreazione" id="add_people_to_film" action="create.php" method="post" novalidate="novalidate">
        <fieldset>
          <legend>Aggiungi persona ad un film</legend>
          <input type="hidden" name="action" value="add_people_to_film" />

          <label for="add_people_film">Film</label>
          <select name="film_id" id="add_people_film">
            <!--film_people_option_start-->
            <option value="{{id}}">{{name}}</option>
            <!--film_people_option_end-->
          </select>
          <span id="add_people_film_err" class="field-error hidden" aria-live="assertive" data-input="add_people_film"></span>

          <label for="add_people_people">Persona</label>
          <select name="person_id" id="add_people_people">
            <!--people_option_start-->
            <option value="{{id}}">{{name}}</option>
            <!--people_option_end-->
          </select>
          <span id="add_people_people_err" class="field-error hidden" aria-live="assertive" data-input="add_people_people"></span>

          <div class="rowFormDiv">
            <input type="radio" name="role_type" id="add_people_crew" value="crew" required="required" checked="checked" />
            <label for="add_people_crew"><span lang="en">Crew</span></label>
          </div>

          <div class="rowFormDiv">
            <input type="radio" name="role_type" id="add_people_cast" value="cast" required="required" />
            <label for="add_people_cast"><span lang="en">Cast</span></label>
          </div>

          <label for="add_people_role">Ruolo</label>
          <input type="text" name="role" id="add_people_role" required="required" minlength="2" />
          <span id="add_people_role_err" class="field-error hidden" aria-live="assertive" data-input="add_people_role"></span>

          <input type="submit" value="Aggiungi" />
          <!--add_people_to_film_error_start-->
          <span class="form-submit-error">{{error}}</span>
          <!--add_people_to_film_error_end-->
          <!--add_people_to_film_success_start-->
          <span class="form-submit-success">{{success}}</span>
          <!--add_people_to_film_success_end-->
        </fieldset>
      </form>

      <form class="formCreazione" id="add_category_to_film" action="create.php" method="post" novalidate="novalidate">
        <fieldset>
          <legend>Aggiungi categoria ad un film</legend>
          <input type="hidden" name="action" value="add_category_to_film" />

          <label for="add_cat_film">Film</label>
          <select name="film_id" id="add_cat_film">
            <!--film_cat_option_start-->
            <option value="{{id}}">{{name}}</option>
            <!--film_cat_option_end-->
          </select>
          <span id="add_cat_film_err" class="field-error hidden" aria-live="assertive" data-input="add_cat_film"></span>

          <label for="add_cat_category">Categoria</label>
          <select name="category" id="add_cat_category">
            <!--category_option_start-->
            <option value="{{name}}">{{name}}</option>
            <!--category_option_end-->
          </select>
          <span id="add_cat_category_err" class="field-error hidden" aria-live="assertive" data-input="add_cat_category"></span>

          <input type="submit" value="Aggiungi" />
          <!--add_category_to_film_error_start-->
          <span class="form-submit-error">{{error}}</span>
          <!--add_category_to_film_error_end-->
          <!--add_category_to_film_success_start-->
          <span class="form-submit-success">{{success}}</span>
          <!--add_category_to_film_success_end-->
        </fieldset>
      </form>
    </main>

    <!--torna_su-->
    <!--footer-->
  </body>
</html>
