<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <title>Crea contenuto | Popcorn time</title>

    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <meta name="author" content="Loris Libralato, Leonardo Lucato, Piva Riccardo, Matteo Campagnaro, Tommaso Diviesti" />

    <!--html_head-->
  </head>

  <body>
    <!--header-->

    <nav id="breadcrumb">
      <p>Ti trovi in: Crea contenuto</p>
    </nav>

    <nav id="menu">
      <ul id="navbar">
        <li>
          <a href="index.php"><span lang="en">Home</span></a>
        </li>
        <li><a href="categories.php">Categorie</a></li>
        <!--menu_admin_start-->
        <li><a href="users.php">Utenti</a></li>
        <li id="currentLink">Crea Contenuto</li>
        <!--menu_admin_end-->
        <li><a href="about.php">Informazioni</a></li>
      </ul>
      <!--profile-->
    </nav>

    <main id="contenuto">
      <form class="formCreazione" id="create_people" action="create.php" method="post" enctype="multipart/form-data">
        <fieldset>
          <legend>Aggiungi una persona</legend>
          <input type="hidden" name="action" value="create_people" />

          <label for="crea_people_name">Nome</label>
          <input type="text" name="name" id="crea_people_name" />
          <span id="crea_people_name_err" class="field-error" data-input="crea_people_name"></span>

          <label for="crea_people_image">Immagine profilo</label>
          <input type="file" name="image" id="crea_people_image" />
          <span id="crea_people_image_err" class="field-error" data-input="crea_people_image"></span>

          <input type="submit" value="Crea" />
          <!--create_people_error_start-->
          <p>{{error}}</p>
          <!--create_people_error_end-->
          <!--create_people_success_start-->
          <p>{{success}}</p>
          <!--create_people_success_end-->
        </fieldset>
      </form>

      <form class="formCreazione" id="create_film" action="create.php" method="post" enctype="multipart/form-data">
        <fieldset>
          <legend>Crea un nuovo film</legend>
          <input type="hidden" name="action" value="create_film" />

          <label for="crea_film_name">Nome</label>
          <input type="text" name="name" id="crea_film_name" required="required" minlength="2" />
          <span id="crea_film_name_err" class="field-error" data-input="crea_film_name"></span>

          <label for="crea_film_original_name">Nome originale</label>
          <input type="text" name="original_name" id="crea_film_original_name" minlength="2" />
          <span id="crea_film_original_name_err" class="field-error" data-input="crea_film_original_name"></span>

          <label for="crea_film_original_language">Lingua</label>
          <input type="text" name="original_language" id="crea_film_original_language" required="required" />
          <span id="crea_film_original_language_err" class="field-error" data-input="crea_film_original_language"></span>

          <label for="crea_film_release_date">Data di uscita</label>
          <input type="date" name="release_date" id="crea_film_release_date" />
          <span id="crea_film_release_date_err" class="field-error" data-input="crea_film_release_date"></span>

          <label for="crea_film_runtime">Durata</label>
          <input type="number" name="runtime" id="crea_film_runtime" min="10" max="6000" />
          <span id="crea_film_runtime_err" class="field-error" data-input="crea_film_runtime"></span>

          <label for="crea_film_phase">Fase</label>
          <select name="phase" id="crea_film_phase" required="required">
            <option value="Voci">Voci</option>
            <option value="Da annunciare">Da annunciare</option>
            <option value="Annunciato">Annunciato</option>
            <option value="Pianificato">Pianificato</option>
            <option value="Cancellato">Cancellato</option>
            <option value="Pre produzione">Pre produzione</option>
            <option value="In produzione">In produzione</option>
            <option value="Post produzione">Post produzione</option>
            <option value="Completato">Completato</option>
            <option value="Rilasciato">Rilasciato</option>
          </select>
          <span id="crea_film_phase_err" class="field-error" data-input="crea_film_phase"></span>

          <label for="crea_film_budget">Budget</label>
          <input type="number" name="budget" id="crea_film_budget" min="0" />
          <span id="crea_film_budget_err" class="field-error" data-input="crea_film_budget"></span>

          <label for="crea_film_revenue">Incasso</label>
          <input type="number" name="revenue" id="crea_film_revenue" min="0" />
          <span id="crea_film_revenue_err" class="field-error" data-input="crea_film_revenue"></span>

          <label for="crea_film_description">Descrizione</label>
          <textarea rows="20" cols="40" id="crea_film_description" name="description" minlength="10" required="required"></textarea>
          <span id="crea_film_description_err" class="field-error" data-input="crea_film_description"></span>

          <label for="crea_film_image">Immagine</label>
          <input type="file" name="image" id="crea_film_image" />
          <span id="crea_film_image_err" class="field-error" data-input="crea_film_image"></span>

          <input type="submit" value="Crea" />

          <!--create_film_error_start-->
          <p>{{error}}</p>
          <!--create_film_error_end-->
          <!--create_film_success_start-->
          <p>{{success}}</p>
          <!--create_film_success_end-->
        </fieldset>
      </form>

      <form class="formCreazione" id="add_people_to_film" action="create.php" method="post">
        <fieldset>
          <legend>Aggiungi persona ad un film</legend>
          <input type="hidden" name="action" value="add_people_to_film" />

          <label for="add_people_film">Film</label>
          <select name="film_id" id="add_people_film">
            <!--film_people_option_start-->
            <option value="{{id}}">{{name}}</option>
            <!--film_people_option_end-->
          </select>
          <span id="add_people_film_err" class="field-error" data-input="add_people_film"></span>

          <label for="add_people_people">Persona</label>
          <select name="person_id" id="add_people_people">
            <!--people_option_start-->
            <option value="{{id}}">{{name}}</option>
            <!--people_option_end-->
          </select>
          <span id="add_people_people_err" class="field-error" data-input="add_people_people"></span>

          <div class="rowFormDiv">
            <input type="radio" name="role_type" id="add_people_crew" value="crew" required="required" />
            <label for="add_people_crew"><span lang="en"></span>Crew</label>
          </div>

          <div class="rowFormDiv">
            <input type="radio" name="role_type" id="add_people_cast" value="cast" required="required" />
            <label for="add_people_cast"><span lang="en"></span>Cast</label>
          </div>

          <label for="add_people_role">Ruolo</label>
          <input type="text" name="role" id="add_people_role" required="required" minlength="2" />
          <span id="add_people_role_err" class="field-error" data-input="add_people_role"></span>

          <input type="submit" value="Aggiungi" />
          <!--add_people_to_film_error_start-->
          <span class="form-submit-error">{{error}}</span>
          <!--add_people_to_film_error_end-->
          <!--add_people_to_film_success_start-->
          <span class="form-submit-success">{{success}}</span>
          <!--add_people_to_film_success_end-->
        </fieldset>
      </form>

      <form class="formCreazione" id="add_category_to_film" action="create.php" method="post">
        <fieldset>
          <legend>Aggiungi categoria ad un film</legend>
          <input type="hidden" name="action" value="add_category_to_film" />

          <label for="add_cat_film">Film</label>
          <select name="film_id" id="add_cat_film">
            <!--film_cat_option_start-->
            <option value="{{id}}">{{name}}</option>
            <!--film_cat_option_end-->
          </select>
          <span id="add_cat_film_err" class="field-error" data-input="add_cat_film"></span>

          <label for="add_cat_category">Categoria</label>
          <select name="category" id="add_cat_category">
            <!--category_option_start-->
            <option value="{{name}}">{{name}}</option>
            <!--category_option_end-->
          </select>
          <span id="add_cat_category_err" class="field-error" data-input="add_cat_category"></span>

          <input type="submit" value="Aggiungi" />
          <!--add_category_to_film_error_start-->
          <span class="form-submit-error">{{error}}</span>
          <!--add_category_to_film_error_end-->
          <!--add_category_to_film_success_start-->
          <span class="form-submit-success">{{success}}</span>
          <!--add_category_to_film_success_end-->
        </fieldset>
      </form>
    </main>

    <!--torna_su-->
    <!--footer-->
  </body>
</html>
