<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <title>{{cat_selected}} | Popcorn Time</title>

    <meta name="description" content="Scopri l'elenco completo dei film nella categoria {{cat_selected}} su Popcorn Time. Trova i tuoi film preferiti e guarda le ultime novità." />
    <meta name="keywords" content="film, {{cat_selected}}, elenco film, categorie film, Popcorn Time, novità film, film popolari" />

    <!--html_head-->
  </head>

  <body>
    <!--header-->

    <div id="top-nav">
      <nav aria-label="breadcrumb" id="breadcrumb">
        <p>
          Ti trovi in: <a href="index.php"><span lang="en">Home</span></a> <span aria-hidden="true">&GT;</span> <a href="categories.php">Categorie</a>
          <span aria-hidden="true">&GT;</span> {{cat_html}}
        </p>
      </nav>
      <!--hamburger-->
    </div>

    <nav aria-label="navbar" id="menu" aria-hidden="false" class="active">
      <ul id="navbar">
        <li>
          <a href="index.php"><span lang="en">Home</span></a>
        </li>
        <li><a href="categories.php">Categorie</a></li>
        <!--menu_admin_start-->
        <li><a href="users.php">Utenti</a></li>
        <li><a href="create.php">Crea Contenuto</a></li>
        <!--menu_admin_end-->
        <li><a href="about.php">Informazioni</a></li>
      </ul>
      <!--user_logged_start-->
      <div id="loggato">
        <p id="utenteCorrente">Utente corrente:</p>
        <a aria-describedby="utenteCorrente" href="profile.php">{{username}}</a>
        <form method="post" action="logout.php">
          <fieldset>
            <legend>Effettua la disconnessione</legend>
            <input type="submit" value="Esci" />
          </fieldset>
        </form>
      </div>
      <!--user_logged_end-->
      <!--profile-->
    </nav>

    <main id="contenuto">
      <h2>Film della categoria: {{cat_html}}</h2>
      <ul class="films">
        <!--movie_start-->
        <li>
          <a href="film.php?id={{film_id}}&cat={{cat_name}}">
            <h3>{{film_name}}</h3>
            <h4>Descrizione:</h4>
            <p>{{description}}</p>
          </a>
        </li>
        <!--movie_end-->
      </ul>
    </main>

    <!--torna_su-->
    <!--footer-->
  </body>
</html>
