<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <title>{{nome_film}} | Popcorn time</title>

    <meta name="description" content="Dettagli, specifiche e recensioni del singolo film" />
    <meta name="keywords" content="dettagli film, titolo film, descrizione film" />

    <meta name="author" content="Loris Libralato, Leonardo Lucato, Piva Riccardo, Matteo Campagnaro, Tommaso Diviesti" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--html_head-->
    <link rel="stylesheet" href="css/style.css" media="screen" />
    <link rel="stylesheet" href="css/mini.css" media="screen and (max-width: 930px)" />
  </head>

  <body>
    <!--header-->

    <nav aria-label="breadcrumb" id="breadcrumb">
      <p>
        Ti trovi in:

        <!--breadcrumb_da_categoria_start-->
        <a href="categories.php">Categorie</a> &gt <a href="films.php?cat={{breadcrumb_nome_cat}}">{{breadcrumb_nome_cat}}</a> &gt {{breadcrumb_nome_film}}
        <!--breadcrumb_da_categoria_end-->
        <!--breadcrumb_da_altro_start-->
        <a href="index.php"><span lang="en">Home</span></a> &gt {{breadcrumb_nome_film}}
        <!--breadcrumb_da_altro_end-->
      </p>
    </nav>

    <nav aria-label="navbar" id="menu">
      <ul id="navbar">
        <li>
          <a href="index.php"><span lang="en">Home</span></a>
        </li>
        <li><a href="categories.php">Categorie</a></li>
        <!--menu_admin_start-->
        <li><a href="users.php">Utenti</a></li>
        <li><a href="create.php">Crea Contenuto</a></li>
        <!--menu_admin_end-->
        <li><a href="about.php">Informazioni</a></li>
      </ul>
      <!--profile-->
    </nav>

    <main id="contenuto" aria-label="Contenuto principale della pagina">
      <h2 id="film-title">{{nome_film}}</h2>

      <section aria-label="Informazioni principali">
        <h3>Informazioni principali</h3>
        <div id="informazioniPrincipali">
          <picture>
            <img class="locandina" src="{{locandina}}" alt="Locandina del film {{nome_film}}" />
          </picture>

          <ul class="info-list">
            <li>
              <h4 class="info-title">Titolo originale:</h4>
              <p class="info-value">{{nome_originale}}</p>
            </li>
            <li>
              <h4 class="info-title">Lingua originale:</h4>
              <p class="info-value">{{lingua_originale}}</p>
            </li>
            <li>
              <h4 class="info-title">Data di uscita:</h4>
              <p class="info-value"><time datetime="{{data_uscita}}">{{data_uscita}}</time></p>
            </li>
            <li>
              <h4 class="info-title">Durata:</h4>
              <p class="info-value">{{durata}} <abbr title="minuti">min</abbr></p>
            </li>
            <li>
              <h4 class="info-title">Stato di avanzamento:</h4>
              <p class="info-value">{{stato}}</p>
            </li>
            <li>
              <h4 class="info-title"><span lang="en">Budget</span>:</h4>
              <p class="info-value">{{budget}}</p>
            </li>
            <li>
              <h4 class="info-title">Incassi:</h4>
              <p class="info-value">{{incassi}}</p>
            </li>
            <li>
              <h4 class="info-title">Valutazione:</h4>
              <p class="info-value">{{valutazione}}</p>
            </li>
          </ul>
        </div>
      </section>

      <section id="generi" aria-label="Generi">
        <h3>Generi</h3>
        <ul>
          <!--genere_start-->
          <li><a href="films.php?cat={{genere}}">{{html_genere}}</a></li>
          <!--genere_end-->
        </ul>
      </section>

      <section aria-label="Descrizione">
        <h3>Descrizione</h3>
        <p id="film-description">{{description}}</p>
      </section>

      <section aria-label="Cast">
        <h3><span lang="en">Cast</span></h3>

        <ul class="person-list">
          <!--cast_start-->
          <li>
            <figure>
              <picture>
                <img src="{{immagine_cast}}" alt="Foto profilo in primo piano di {{cast_name}}{{cast_alt_img_not_present}}" />
              </picture>
              <figcaption>
                <dl class="person-info">
                  <dt class="person-title">Nome:</dt>
                  <dd class="person-value">{{cast_html_name}}</dd>

                  <dt class="person-title">Ruolo:</dt>
                  <dd class="person-value">{{cast_job}}</dd>
                </dl>
              </figcaption>
            </figure>
          </li>
          <!--cast_end-->
        </ul>
      </section>

      <section aria-label="Crew">
        <h3><span lang="en">Crew</span></h3>

        <ul class="person-list">
          <!--crew_start-->
          <li>
            <figure>
              <picture>
                <img src="{{immagine_crew}}" alt="Foto profilo in primo piano di {{crew_name}}{{crew_alt_img_not_present}}" />
              </picture>
              <figcaption>
                <dl class="person-info">
                  <dt class="person-title">Nome:</dt>
                  <dd class="person-value">{{crew_html_name}}</dd>

                  <dt class="person-title">Ruolo:</dt>
                  <dd class="person-value">{{crew_job}}</dd>
                </dl>
              </figcaption>
            </figure>
          </li>
          <!--crew_end-->
        </ul>
      </section>

      <!--crea_recensione_start-->
      <section aria-label="Crea Recensione">
        <h3>Crea recensione</h3>
        <form class="formRecensione" action="review.php" method="post">
          <fieldset>
            <legend>Crea una recensione</legend>

            <input type="hidden" name="type" value="create" />
            <input type="hidden" name="film_id" value="{{film_id}}" />
            <input type="hidden" name="cat" value="{{film_cat}}" />

            <label for="title">Titolo</label>
            <input id="title" type="text" name="title" value="" minlength="3" required="required" />

            <label for="content">Commento</label>
            <textarea rows="20" cols="40" id="content" name="content" minlength="5" required="required"></textarea>

            <label for="rating">Valutazione</label>
            <input id="rating" type="number" name="rating" value="7" min="1" max="10" required="required" />

            <input type="submit" value="Crea recensione" />
          </fieldset>
        </form>
        <!--crea_recensione_error_start-->
        <p>{{crea_recensione_error}}</p>
        <!--crea_recensione_error_end-->
      </section>
      <!--crea_recensione_end-->

      <section aria-label="Recensioni" id="recensioni">
        <h3>Recensioni</h3>
        <!--view_recensione_utente_start-->
        <div class="frameRecensione">
          <!--TODO: modificare il tag p se necessario-->
          <p>La tua recensione:</p>
          <dl>
            <dt>Valutazione:</dt>
            <dd>
              <abbr title="{{user_rev_rating}} su 10">{{user_rev_rating}} / 10</abbr>
            </dd>
            <dt>Titolo:</dt>
            <dd>{{user_rev_title}}</dd>
            <dt>Commento:</dt>
            <dd>{{user_rev_content}}</dd>
          </dl>
          <form class="formGestione" action="film.php#modificaRecensione" method="get">
            <fieldset>
              <legend>Modifica la tua recensione</legend>

              <input type="hidden" name="type" value="modify" />
              <input type="hidden" name="id" value="{{film_id}}" />
              <input type="hidden" name="cat" value="{{film_cat}}" />
              <input type="hidden" name="modifica" value="1" />
              <input type="submit" value="Modifica recensione" />
            </fieldset>
          </form>
          <!--delete_recensione_utente_start-->
          <form class="formGestione" action="review.php" method="post">
            <fieldset>
              <legend>Elimina la tua recensione</legend>

              <input type="hidden" name="type" value="delete" />
              <input type="hidden" name="film_id" value="{{film_id}}" />
              <input type="hidden" name="cat" value="{{film_cat}}" />

              <input type="submit" value="Elimina recensione" />
            </fieldset>
          </form>
          <!--delete_recensione_utente_end-->
        </div>
        <!--view_recensione_utente_end-->
        <!--mod_recensione_utente_start-->
        <div class="frameRecensione" id="modificaRecensione">
          <form id="modificaRecensione" class="formRecensione" action="review.php" method="post">
            <fieldset>
              <legend>Modifica la tua recensione</legend>

              <input type="hidden" name="type" value="modify" />
              <input type="hidden" name="film_id" value="{{film_id}}" />
              <input type="hidden" name="cat" value="{{film_cat}}" />

              <label for="title">Titolo</label>
              <input type="text" name="title" id="title" value="{{mod_title}}" required="required" minlength="3" />

              <label for="content">Commento</label>
              <textarea rows="20" cols="40" id="content" name="content" minlength="5" required="required">{{mod_content}}</textarea>

              <label for="rating">Valutazione</label>
              <input id="rating" type="number" name="rating" value="{{mod_rating}}" min="1" max="10" required="required" />
              <input type="submit" value="Modifica recensione" />
            </fieldset>
          </form>
          <!--delete_recensione_utente_start-->
          <form class="formGestione" action="review.php" method="post">
            <fieldset>
              <legend>Elimina la tua recensione</legend>

              <input type="hidden" name="type" value="delete" />
              <input type="hidden" name="film_id" value="{{film_id}}" />
              <input type="hidden" name="cat" value="{{film_cat}}" />

              <input type="submit" value="Elimina recensione" />
            </fieldset>
          </form>
          <!--delete_recensione_utente_end-->
        </div>
        <!--mod_recensione_utente_end-->

        <!--recensioni_start-->
        <div class="frameRecensione">
          <dl>
            <dt>Utente:</dt>
            <dd>{{rev_username}}</dd>
            <dt>Valutazione:</dt>
            <dd>
              <abbr title="{{rev_rating}} su 10">{{rev_rating}} / 10</abbr>
            </dd>
            <dt>Titolo:</dt>
            <dd>{{rev_title}}</dd>
            <dt>Commento:</dt>
            <dd>{{rev_content}}</dd>
          </dl>
          <!--delete_recensione_start-->
          <form class="formGestione" action="review.php" method="post">
            <fieldset>
              <legend>Elimina la recensione</legend>

              <input type="hidden" name="type" value="delete" />
              <input type="hidden" name="film_id" value="{{film_id}}" />
              <input type="hidden" name="username" value="{{rev_username}}" />
              <input type="hidden" name="cat" value="{{film_cat}}" />

              <input type="submit" value="Elimina recensione" />
            </fieldset>
          </form>
          <!--delete_recensione_end-->
        </div>
        <!--recensioni_end-->
      </section>
    </main>

    <!--torna_su-->
    <!--footer-->
  </body>
</html>
