<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <title>Popcorn time</title>

    <meta name="description" content="Dettagli, specifiche e recensioni del singolo film" />
    <meta name="keywords" content="dettagli film, titolo film, descrizione film" />

    <meta name="author" content="FrankCastleTech" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/style.css" media="screen" />
    <link rel="stylesheet" href="css/mini.css" media="screen and (max-width: 1200px)" />
  </head>

  <body>
    <!--header-->
    <!--vai_contenuto-->

    <nav id="breadcrumb">
      <p>
        Ti trovi in: <a href="categories.php">Categorie</a> >
        <a href="films.php?cat={{nome_cat}}">{{nome_cat}}</a> > {{nome_film}}
      </p>
    </nav>

    <nav id="menu">
      <ul id="navbar">
        <li><a href="index.php">Home</a></li>
        <li><a href="categories.php">Categorie</a></li>
        <!--menu_admin_start-->
        <li><a href="users.php">Utenti</a></li>
        <!--menu_admin_end-->
        <li><a href="about.php">Informazioni</a></li>
      </ul>
      <!--profile-->
    </nav>

    <!--
    +-----------------+
    |     Header      |
    +-----------------+
    |   Locandina:    |
    |    Titolo:      |
    |  Descrizione:   |
    |  Scrittura rec: |
    |  Recensioni:    |
    |  +------------+ |
    |  | Utente     | |
    |  | Valutazione| |
    |  | Commento   | |
    |  +------------+ |
    +-----------------+
    |     Footer      |
    +-----------------+
    Va scelto come nascondere la zona di scrittura recensione e se metterla sopra o sotto
    alle lista delle recensioni.
    Poi per far capire che per recensire bisogna loggarsi si puo mettere tipo nella
    pagina di login secondo me e nell'index tipo stile pubblicità tipo "recensisci ora loggandoti!"
    -->

    <aside></aside>

    <main>
      <h3>Film</h3>
      <p>Nome:</p>
      <p>{{nome_film}}</p>
      <p>Descrizione:</p>
      <p>{{description}}</p>

      <!--crea_recensione_start-->
      <h3>Crea recensione</h3>
      <form action="review.php" method="post">
        <input type="hidden" name="film_id" value="{{film_id}}" />
        <label for="title">Titolo</label>
        <input type="text" name="title" value="" />
        <label for="content">Commento</label>
        <input type="text" name="content" value="" />
        <label for="rating">Valutazione</label>
        <input type="number" name="rating" value="8" />
        <input type="submit" value="Crea recensione" />
      </form>
      <!--crea_recensione_end-->

      <h3>Recensioni</h3>
      <!--recensioni_start-->
      <div>
        <p>Utente: {{rev_username}}</p>
        <p>Valutazione: {{rev_rating}}</p>
        <p>Titolo: {{rev_title}}</p>
        <p>Commento: {{rev_content}}</p>
      </div>
      <!--recensioni_end-->
    </main>

    <!--torna_su-->
    <!--footer-->
  </body>
</html>
