<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <title>Popcorn time</title>

    <meta name="description" content="Elenco di tutti i film" />
    <meta name="keywords" content="elenco film, categorie film" />

    <meta
      name="author"
      content="Loris Libralato, Leonardo Lucato, Piva Riccardo, Matteo Campagnaro, Tommaso Diviesti"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/style.css" media="screen" />
    <link rel="stylesheet" href="/css/mini.css" media="screen and (max-width: 930px)" />
  </head>

  <body>
    <!--header-->

    <nav id="breadcrumb">
      <p>Ti trovi in: <a href="/categories.php">Categorie</a> > {{cat_selected}}</p>
    </nav>

    <nav id="menu">
      <ul id="navbar">
        <li><a href="/index.php">Home</a></li>
        <li><a href="/categories.php">Categorie</a></li>
        <!--menu_admin_start-->
        <li><a href="/users.php">Utenti</a></li>
        <!--menu_admin_end-->
        <li><a href="/about.php">Informazioni</a></li>
      </ul>
      <!--profile-->
    </nav>

    <aside></aside>

    <!--
    +-----------------+
    |     Header      |
    +-----------------+
    |  Categoria:     |
    |  - Film 1       |
    |    Locandina    |
    | nome in piccolo |
    |  - Film 2       |
    |    Locandina    |
    | nome in piccolo |
    |  - Film 3       |
    |    Locandina    |
    | nome in piccolo |
    +-----------------+
    |     Footer      |
    +-----------------+
    E tipo ogni film sarà tipo locandina con piccolo nome sotto
    la scelta del display dei film è ancora da fare di preciso
    abbiamo pensato al carosello ma anche una bella lista monolitica
    non è male secondo me
    -->

    <main id="contenuto">
      <h2>Film della categoria: {{cat_selected}}</h2>
      <!-- volevo mettere h3 ma mi pare ci sia tipo la regola
                 tipo della scala degli h
                 E quindi ho aggiunto categoria anche se è ridondante con il breadcrumb
                 Però ci sta nella pagina secondo me
                 -->
      <ul>
        <!--movie_start-->
        <li>
          <h3><a href="/film.php?id={{film_id}}&cat={{cat_name}}">{{film_name}}</a></h3>
          <h4>Descrizione:</h4>
          <p>{{description}}</p>
        </li>
        <!--movie_end-->
      </ul>
    </main>

    <!--torna_su-->
    <!--footer-->
  </body>
</html>
