<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <title>Popcorn time</title>

    <meta
      name="description"
      content="Home page del sito dedicato alle recensioni dei migliori film"
    />
    <meta name="keywords" content="home, recensioni film, migliori film" />

    <meta name="author" content="FrankCastleTech" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/style.css" media="screen" />
  </head>

  <body>
    <!--header-->
    <nav id="breadcrumb">
      <p>Ti trovi in: Home</p>
    </nav>

    <nav id="menu">
      <ul>
        <li id="currentLink">Home</li>
        <li><a href="categories.php">Categorie</a></li>
        <!--menu_admin_start-->
        <li><a href="users.php">Utenti</a></li>
        <!--menu_admin_end-->
        <li><a href="about.php">Informazioni</a></li>
      </ul>
    </nav>

    <!--profile-->

    <aside></aside>

    <!--
    +-----------------+
    |     Header      |
    +-----------------+
    |  Benvenuto      |
    |  Film in        |
    |  evidenza:      |
    |  - Film 1       |
    |  - Film 2       |
    |  - Film 3       |
    |  Categorie:     |
    |  - Azione       |
    |  - Commedia     |
    |  - Dramma       |
    +-----------------+
    |     Footer      |
    +-----------------+
    Non so se mettere le categorie qua o lasciare in alto nella nav e basta tipo
    Qua mettiamo tipo delle categorie di film piu tipo evidenza/tendenza
    oppure andiamo piu per generi tipo
    -->

    <main>
      <h2>Benvenuti su Popcorn time</h2>
      <p>Esprimi le tue idee sui tuoi film preferiti nessuno ti giudicherà.</p>
      <h3>Film in uscita</h3>
      <!-- Aggiungi i film -->
      <h3>Film con voto più alto</h3>
      <!-- Aggiungi i film -->
      <h3>Film in piu recensiti</h3>
      <!-- Aggiungi i film -->
    </main>

    <!--footer-->
  </body>
</html>
