<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <title>Popcorn time</title>

    <meta
      name="description"
      content="Home page del sito dedicato alle recensioni dei migliori film"
    />
    <meta name="keywords" content="home, recensioni film, migliori film" />

    <meta
      name="author"
      content="Loris Libralato, Leonardo Lucato, Piva Riccardo, Matteo Campagnaro, Tommaso Diviesti"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--html_head-->
    <link rel="stylesheet" href="css/style.css" media="screen" />
    <link rel="stylesheet" href="css/mini.css" media="screen and (max-width: 930px)" />
  </head>

  <body>
    <!--header-->

    <nav id="breadcrumb">
      <p>Ti trovi in: Home</p>
    </nav>

    <nav id="menu">
      <ul id="navbar">
        <li id="currentLink">Home</li>
        <li><a href="categories.php">Categorie</a></li>
        <!--menu_admin_start-->
        <li><a href="users.php">Utenti</a></li>
        <!--menu_admin_end-->
        <li><a href="about.php">Informazioni</a></li>
      </ul>
      <!--profile-->
    </nav>

    <aside></aside>

    <!--
    +-----------------+
    |     Header      |
    +-----------------+
    |  Benvenuto      |
    |  Film in        |
    |  evidenza:      |
    |  - Film 1       |
    |  - Film 2       |
    |  - Film 3       |
    |  Categorie:     |
    |  - Azione       |
    |  - Commedia     |
    |  - Dramma       |
    +-----------------+
    |     Footer      |
    +-----------------+
    Non so se mettere le categorie qua o lasciare in alto nella nav e basta tipo
    Qua mettiamo tipo delle categorie di film piu tipo evidenza/tendenza
    oppure andiamo piu per generi tipo
    -->

    <main id="contenuto">
      <h2>Benvenuti su Popcorn time</h2>
      <p>Esprimi le tue idee sui tuoi film preferiti nessuno ti giudicherà.</p>
      <h3>Film nei cinema</h3>
      <!--new_films_start-->
      <dl>
        <dt>Film:</dt>
        <dd><a href="film.php?id={{new_film_id}}">{{new_film_title}}</a></dd>
        <dt>Descrizione:</dt>
        <dd>{{new_film_descrizione}}</dd>
      </dl>
      <!--new_films_end-->

      <h3>Film con voto più alto</h3>
      <!--top_films_start-->
      <dl>
        <dt>Film:</dt>
        <dd><a href="film.php?id={{top_film_id}}">{{top_film_title}}</a></dd>
        <dt>Descrizione:</dt>
        <dd>{{top_film_descrizione}}</dd>
        <dt>Valutazione:</dt>
        <dd>{{top_film_rating}}</dd>
      </dl>
      <!--top_films_end-->

      <h3>Le ultime recensioni</h3>
      <!--last_reviews_start-->
      <dl class="recensione">
        <dt>Film:</dt>
        <dd><a href="film.php?id={{rec_film_id}}">{{rec_film_title}}</a></dd>
        <dt>Utente:</dt>
        <dd>{{rec_username}}</dd>
        <dt>Valutazione:</dt>
        <dd>{{rec_rating}}</dd>
        <dt>Titolo:</dt>
        <dd>{{rec_title}}</dd>
        <dt>Commento:</dt>
        <dd>{{rec_content}}</dd>
      </dl>
      <!--last_reviews_end-->
    </main>

    <!--torna_su-->
    <!--footer-->
  </body>
</html>
