<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <title lang="en">Home | Popcorn time</title>

    <meta name="description" content="Scopri i film con il voto più alto, le ultime recensioni e molto altro sul nostro sito di film." />
    <meta name="keywords" content="film, recensioni, voti, cinema, ultime recensioni, film con voto più alto" />

    <!--html_head-->
  </head>

  <body>
    <!--header-->

    <div id="top-nav">
      <nav aria-label="breadcrumb" id="breadcrumb">
        <p>Ti trovi in: <span lang="en">Home</span></p>
      </nav>
      <!--hamburger-->
    </div>

    <nav aria-label="navbar" id="menu" aria-hidden="false">
      <ul id="navbar">
        <li id="currentLink"><span lang="en">Home</span></li>
        <li><a href="categories.php">Categorie</a></li>
        <!--menu_admin_start-->
        <li><a href="users.php">Utenti</a></li>
        <li><a href="create.php">Crea Contenuto</a></li>
        <!--menu_admin_end-->
        <li><a href="about.php">Informazioni</a></li>
      </ul>
      <!--user_logged_start-->
      <div id="loggato">
        <p id="utenteCorrente">Utente corrente:</p>
        <a aria-describedby="utenteCorrente" href="profile.php">{{username}}</a>
        <form method="post" action="logout.php">
          <fieldset>
            <legend>Effettua la disconnessione</legend>
            <input type="submit" value="Esci" />
          </fieldset>
        </form>
      </div>
      <!--user_logged_end-->
      <!--profile-->
    </nav>

    <main id="contenuto">
      <h2>Benvenuti su <span lang="en">Popcorn Time</span></h2>
      <p>Esprimi le tue idee sui tuoi film preferiti nessuno ti giudicherà.</p>
      <h3>Film nei cinema</h3>
      <ul class="film-card">
        <!--new_films_start-->
        <li>
          <a href="film.php?id={{new_film_id}}">
            <img src="{{new_film_locandina}}" alt="locandina del film {{new_film_title}}{{new_film_alt_img_not_present}}" class="film-locandina" />
            <span>{{new_film_html_title}}</span>
          </a>
        </li>
        <!--new_films_end-->
      </ul>

      <h3>Film con voto più alto</h3>
      <ul class="film-card">
        <!--top_films_start-->
        <li>
          <a href="film.php?id={{top_film_id}}">
            <img src="{{top_film_locandina}}" alt="locandina del film {{top_film_title}}{{top_film_alt_img_not_present}}" class="film-locandina" />
            <span>{{top_film_html_title}}</span>
            <span>{{top_film_rating}} &#11088;</span>
          </a>
        </li>
        <!--top_films_end-->
      </ul>

      <h3>Le ultime recensioni</h3>
      <!--last_reviews_start-->
      <dl class="recensione">
        <dt>Film:</dt>
        <dd><a href="film.php?id={{rec_film_id}}">{{rec_film_title}}</a></dd>
        <dt>Utente:</dt>
        <dd>{{rec_username}}</dd>
        <dt>Valutazione:</dt>
        <dd>{{rec_rating}}<abbr title="su">/</abbr> 10</dd>
        <dt>Titolo:</dt>
        <dd>{{rec_title}}</dd>
        <dt>Commento:</dt>
        <dd>{{rec_content}}</dd>
      </dl>
      <!--last_reviews_end-->
    </main>

    <!--torna_su-->
    <!--footer-->
  </body>
</html>
