<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <!-- TODO: change this title -->
    <title>{{title}}</title>

    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">

    <meta name="author" content="{{author}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css" media="screen">
</head>

<body>
    <header>
        <h1 lang="en">Movie Review</h1>
        <h2>Recensione di film</h2>
    </header>

    <nav id="breadcrumb">
        <p>Ti trovi in: {{breadcrumb}}</p>
    </nav>

    <nav id="menu">
        <ul>
            {{links}}
        </ul>
    </nav>

    <aside></aside>

    {{profile}}

    <main>
        {{main}}
    </main>

    <footer>
        <span lang="en">All rights Reserved</span>
    </footer>
</body>

</html>