<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <title>Popcorn time</title>

    <meta name="description" content="Pagina login per accedere al sito di recensioni di film" />
    <meta name="keywords" content="film, login, accesso utente" />

    <meta
      name="author"
      content="Loris Libralato, Leonardo Lucato, Piva Riccardo, Matteo Campagnaro, Tommaso Diviesti"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/style.css" media="screen" />
    <link rel="stylesheet" href="css/mini.css" media="screen and (max-width: 930px)" />
  </head>

  <body>
    <!--header-->

    <nav id="breadcrumb">
      <p>Ti trovi in: <span lang="en">Login</span></p>
    </nav>

    <nav id="menu">
      <ul id="navbar">
        <li>
          <a href="index.php"><span lang="en">Home</span></a>
        </li>
        <li><a href="categories.php">Categorie</a></li>
        <!--menu_admin_start-->
        <li><a href="users.php">Utenti</a></li>
        <!--menu_admin_end-->
        <li><a href="about.php">Informazioni</a></li>
      </ul>
    </nav>

    <aside></aside>

    <!--
        Qua niente schemino
        Penso sia abbastanza chiaro come funziona
        Va solo sistemato il form
        Direi tipo di centrarlo al centro della pagina e poi vabbe magia del css
        colori e bottoni rotondi
    -->

    <!-- <header>
      <h3>Login</h3>
    </header> -->

    <main id="contenuto" class="login-form">
      <form action="" method="post">
        <fieldset>
          <legend>Effettua l'accesso</legend>

          <label for="username">nome utente</label>
          <input type="text" name="username" />

          <label for="password">password</label>
          <input type="password" name="password" />

          <input type="submit" value="submit" />

          <!--login_error_start-->
          <p>{{error}}</p>
          <!--login_error_end-->
        </fieldset>
      </form>
      <a href="signup.php">Registrati</a>
    </main>

    <!--torna_su-->
    <!--footer-->
  </body>
</html>
