<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <title>Accesso | Popcorn Time</title>

    <meta
      name="description"
      content="Accedi a Popcorn Time per recensioni dettagliate sui film, valutazioni degli utenti e molto altro. Unisciti alla nostra community di appassionati di cinema."
    />
    <meta name="keywords" content="film, login, accesso utente, recensioni film, Popcorn Time, valutazioni film, community cinema" />

    <!--html_head-->
  </head>

  <body>
    <!--header-->

    <div id="top-nav">
      <nav aria-label="breadcrumb" id="breadcrumb">
        <p>
          Ti trovi in: <a href="index.php"><span lang="en">Home</span></a> <span aria-hidden="true">&GT;</span> Accesso
        </p>
      </nav>
      <!--hamburger-->
    </div>

    <nav aria-label="navbar" id="menu" aria-hidden="false">
      <ul id="navbar">
        <li>
          <a href="index.php"><span lang="en">Home</span></a>
        </li>
        <li><a href="categories.php">Categorie</a></li>
        <!--menu_admin_start-->
        <li><a href="users.php">Utenti</a></li>
        <li><a href="create.php">Crea Contenuto</a></li>
        <!--menu_admin_end-->
        <li><a href="about.php">Informazioni</a></li>
      </ul>
    </nav>

    <main id="contenuto" class="login-form">
      <form action="login.php" method="post" id="login_form" novalidate="novalidate">
        <fieldset>
          <legend>Effettua l'accesso</legend>

          <label for="login_username"><span lang="en">username</span></label>
          <input type="text" name="username" id="login_username" required="required" minlength="4" maxlength="20" />
          <span id="login_username_err" class="field-error hidden" aria-live="assertive" data-input="login_username"></span>

          <label for="login_password"><span lang="en">password</span></label>
          <input type="password" name="password" id="login_password" required="required" minlength="4" />
          <span id="login_password_err" class="field-error hidden" aria-live="assertive" data-input="login_password"></span>

          <input type="submit" value="Accedi" />

          <!--login_error_start-->
          <span class="form-submit-error">{{login_error}}</span>
          <!--login_error_end-->
        </fieldset>
      </form>
      <p>Non possiedi un account? <a href="signup.php">Registrati</a></p>
    </main>

    <!--torna_su-->
    <!--footer-->
  </body>
</html>
