<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <title>Accesso | Popcorn time</title>

    <meta name="description" content="Pagina login per accedere al sito di recensioni di film" />
    <meta name="keywords" content="film, login, accesso utente" />

    <meta name="author" content="Loris Libralato, Leonardo Lucato, Piva Riccardo, Matteo Campagnaro, Tommaso Diviesti" />

    <!--html_head-->
  </head>

  <body>
    <!--header-->

    <nav aria-label="breadcrumb" id="breadcrumb">
      <p>Ti trovi in: <span lang="en">Login</span></p>
    </nav>

    <nav aria-label="navbar" id="menu">
      <ul id="navbar">
        <li>
          <a href="index.php"><span lang="en">Home</span></a>
        </li>
        <li><a href="categories.php">Categorie</a></li>
        <!--menu_admin_start-->
        <li><a href="users.php">Utenti</a></li>
        <li><a href="create.php">Crea Contenuto</a></li>
        <!--menu_admin_end-->
        <li><a href="about.php">Informazioni</a></li>
      </ul>
    </nav>

    <aside></aside>

    <!--
        Qua niente schemino
        Penso sia abbastanza chiaro come funziona
        Va solo sistemato il form
        Direi tipo di centrarlo al centro della pagina e poi vabbe magia del css
        colori e bottoni rotondi
    -->

    <!-- <header>
      <h3>Login</h3>
    </header> -->

    <main id="contenuto" class="login-form">
      <form action="login.php" method="post">
        <fieldset>
          <legend>Effettua l'accesso</legend>

          <label for="login_username">nome utente</label>
          <input type="text" name="username" id="login_username" required="required" minlength="4" maxlength="20" />
          <span id="login_username_err" class="field-error" data-input="login_username"></span>

          <label for="login_password">password</label>
          <input type="password" name="password" id="login_password" required="required" minlength="4" />
          <span id="login_password_err" class="field-error" data-input="login_password"></span>

          <input type="submit" value="Accedi" />

          <!--login_error_start-->
          <span class="form-submit-error">{{login_error}}</span>
          <!--login_error_end-->
        </fieldset>
      </form>
      <p>Non possiedi un account? <a href="signup.php">Registrati</a></p>
    </main>

    <!--torna_su-->
    <!--footer-->
  </body>
</html>
