<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <title>Profilo | Popcorn time</title>

    <meta name="description" content="Visualizza e gestisci il tuo profilo utente su Popcorn Time. Scopri le tue recensioni personali sui film e interagisci con altri utenti." />
    <meta name="keywords" content="profilo utente, recensioni film, Popcorn Time, film, utenti, recensioni personali, gestione profilo" />

    <!--html_head-->
  </head>

  <body>
    <!--header-->

    <div id="top-nav">
      <nav aria-label="breadcrumb" id="breadcrumb">
        <p>
          Ti trovi in:
          <a href="index.php"><span lang="en">Home</span></a> &gt;
          <!--admin_user_info_start-->
          <a href="users.php">Utenti</a> &gt; {{breadcrumb_username}}
          <!--admin_user_info_end-->
          <!--user_info_start-->
          Profilo
          <!--user_info_end-->
        </p>
      </nav>
      <!--hamburger-->
    </div>

    <nav aria-label="navbar" id="menu" aria-hidden="false">
      <ul id="navbar">
        <li>
          <a href="index.php"><span lang="en">Home</span></a>
        </li>
        <li><a href="categories.php">Categorie</a></li>
        <!--menu_admin_start-->
        <li><a href="users.php">Utenti</a></li>
        <li><a href="create.php">Crea Contenuto</a></li>
        <!--menu_admin_end-->
        <li><a href="about.php">Informazioni</a></li>
      </ul>
      <!--profile-->
    </nav>

    <main id="contenuto">
      <div id="userInfo">
        <h2>Profilo Utente</h2>
        <dl>
          <dt>Nome utente:</dt>
          <dd>{{username}}</dd>
          <dt>Nome:</dt>
          <dd>{{name}}</dd>
          <dt>Cognome:</dt>
          <dd>{{last_name}}</dd>
        </dl>
      </div>

      <section aria-label="Recensioni">
        <h3>Recensioni</h3>

        <!--recensioni_start-->
        <dl class="recensione">
          <dt>Film:</dt>
          <dd><a href="film.php?id={{rec_film_id}}">{{rec_film_title}}</a></dd>
          <dt>Valutazione:</dt>
          <dd>{{rec_rating}}<abbr title="su">/</abbr> 10</dd>
          <dt>Titolo:</dt>
          <dd>{{rec_title}}</dd>
          <dt>Commento:</dt>
          <dd>{{rec_content}}</dd>
        </dl>
        <!--recensioni_end-->
      </section>
    </main>

    <!--torna_su-->
    <!--footer-->
  </body>
</html>
