<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <title>Popcorn time</title>

    <meta name="description" content="Pagina profilo utente con recensioni personali" />
    <meta name="keywords" content="profilo utente, recensioni personali, film" />

    <meta
      name="author"
      content="Loris Libralato, Leonardo Lucato, Piva Riccardo, Matteo Campagnaro, Tommaso Diviesti"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/style.css" media="screen" />
    <link rel="stylesheet" href="css/mini.css" media="screen and (max-width: 930px)" />
  </head>

  <body>
    <!--header-->

    <nav id="breadcrumb">
      <p>Ti trovi in: Profilo</p>
    </nav>

    <nav id="menu">
      <ul id="navbar">
        <li><a href="index.php">Home</a></li>
        <li><a href="categories.php">Categorie</a></li>
        <!--menu_admin_start-->
        <li><a href="users.php">Utenti</a></li>
        <!--menu_admin_end-->
        <li><a href="about.php">Informazioni</a></li>
      </ul>
      <!--profile-->
    </nav>

    <aside></aside>

    <!--
    +-----------------+
    |     Header      |
    +-----------------+
    |  Profilo Utente |
    |  Nome:          |
    |  Recensioni:    |
    |  - Recensione 1 |
    |  - Recensione 2 |
    +-----------------+
    |     Footer      |
    +-----------------+
    Qua non so se mettere le recensioni personali o meno
    Boh, per ora le metto nello schemino ma non nell html
    -->

    <main id="contenuto">
      <h2>Profilo Utente</h2>
      <p>Nome utente: {{username}}</p>
      <!-- Ho visto sull'sql che ci sono nome e cognome ma non nel signup -->
      <p>Nome : {{name}}</p>
      <p>Cognome : {{last_name}}</p>
      <!-- <h3>Recensioni Personali</h3> -->
      <!-- Eventuale lista (non modificabile) delle recensioni dell'utente -->
      <section aria-label="Recensioni">
        <h3>Recensioni</h3>

        <!--recensioni_start-->
        <!-- TODO: non sono sicuro sia il tag giusto-->
        <article>
          <p>Film: <a href="film.php?id={{rec_film_id}}">{{rec_film_title}}</a></p>
          <p>Valutazione: {{rec_rating}}</p>
          <p>Titolo: {{rec_title}}</p>
          <p>Commento: {{rec_content}}</p>
        </article>
        <!--recensioni_end-->
      </section>
    </main>

    <!--torna_su-->
    <!--footer-->
  </body>
</html>
