<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <title>Popcorn time</title>

    <meta
      name="description"
      content="Pagina di registrazione per nuovi utenti del sito di recensioni di film"
    />
    <meta name="keywords" content="registrazione, nuovo utente, film" />

    <meta
      name="author"
      content="Loris Libralato, Leonardo Lucato, Piva Riccardo, Matteo Campagnaro, Tommaso Diviesti"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--html_head-->
    <link rel="stylesheet" href="css/style.css" media="screen" />
    <link rel="stylesheet" href="css/mini.css" media="screen and (max-width: 930px)" />
  </head>

  <body>
    <!--header-->

    <nav id="breadcrumb">
      <p>Ti trovi in: Registrazione</p>
    </nav>

    <nav id="menu">
      <ul id="navbar">
        <li><a href="index.php">Home</a></li>
        <li><a href="categories.php">Categorie</a></li>
        <!--menu_admin_start-->
        <li><a href="users.php">Utenti</a></li>
        <!--menu_admin_end-->
        <li><a href="about.php">Informazioni</a></li>
      </ul>
    </nav>

    <!-- <header>
      <h3>Registrazione</h3>
    </header> -->

    <aside></aside>

    <!--
        vogliamo permettere la registrazione?
        Boh non è un prerequisito semmai la facciamo noi a mano da db
        per fare numero di recensioni o roba di quel genere direi
    -->

    <main id="contenuto" class="login-form">
      <!--Si è copiato dal login-->
      <form action="" method="post">
        <fieldset>
          <legend>Effettua la registrazione</legend>

          <label for="username">username</label>
          <input type="text" name="username" id="username" />

          <label for="password">password</label>
          <input type="password" name="password" id="password" />

          <label for="name">nome</label>
          <input type="text" name="name" id="name" value="" />

          <label for="last_name">cognome</label>
          <input type="text" name="last_name" id="last_name" value="" />

          <input type="submit" value="Registrati" />

          <!--register_error_start-->
          <p class="loginForm-error">{{register_error}}</p>
          <!--register_error_end-->
        </fieldset>
      </form>

      <p>Possiedi già un account? <a href="login.php">Accedi</a></p>
    </main>

    <!--torna_su-->
    <!--footer-->
  </body>
</html>
