<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <title>Registrazione | Popcorn time</title>

    <meta
      name="description"
      content="Registrati su Popcorn Time per accedere a recensioni di film, creare contenuti e interagire con altri appassionati di cinema. Unisciti alla nostra community di cinefili oggi stesso!"
    />
    <meta name="keywords" content="registrazione, nuovo utente, film, recensioni, Popcorn Time, cinema, community, cinefili" />

    <!--html_head-->
  </head>

  <body>
    <!--header-->

    <div id="top-nav">
      <nav aria-label="breadcrumb" id="breadcrumb">
        <p>
          Ti trovi in: <a href="index.php"><span lang="en">Home</span></a> <span aria-hidden="true">&GT;</span> Registrazione
        </p>
      </nav>
      <!--hamburger-->
    </div>

    <nav aria-label="navbar" id="menu" aria-hidden="false">
      <ul id="navbar">
        <li>
          <a href="index.php"><span lang="en">Home</span></a>
        </li>
        <li><a href="categories.php">Categorie</a></li>
        <!--menu_admin_start-->
        <li><a href="users.php">Utenti</a></li>
        <li><a href="create.php">Crea Contenuto</a></li>
        <!--menu_admin_end-->
        <li><a href="about.php">Informazioni</a></li>
      </ul>
    </nav>

    <main id="contenuto" class="login-form">
      <form id="signup" action="signup.php" method="post" novalidate="novalidate">
        <fieldset>
          <legend>Effettua la registrazione</legend>

          <label for="signup_username"><span lang="en">username</span></label>
          <input type="text" name="username" id="signup_username" required="required" minlength="4" maxlength="20" />
          <span id="signup_username_err" class="field-error hidden" aria-live="assertive" data-input="signup_username"></span>

          <label for="signup_password"><span lang="en">password</span></label>
          <input type="password" name="password" id="signup_password" required="required" minlength="4" />
          <span id="signup_password_err" class="field-error hidden" aria-live="assertive" data-input="signup_password"></span>

          <label for="signup_name">nome</label>
          <input type="text" name="name" id="signup_name" required="required" minlength="2" />
          <span id="signup_name_err" class="field-error hidden" aria-live="assertive" data-input="signup_name"></span>

          <label for="signup_last_name">cognome</label>
          <input type="text" name="last_name" id="signup_last_name" required="required" minlength="2" />
          <span id="signup_last_name_err" class="field-error hidden" aria-live="assertive" data-input="signup_last_name"></span>

          <input type="submit" value="Registrati" />

          <!--register_error_start-->
          <span class="form-submit-error">{{register_error}}</span>
          <!--register_error_end-->
        </fieldset>
      </form>

      <p>Possiedi già un account? <a href="login.php">Accedi</a></p>
    </main>

    <!--torna_su-->
    <!--footer-->
  </body>
</html>
