<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <title>Utenti | Popcorn time</title>

    <meta name="description" content="Elenco degli utente registrati" />
    <meta name="keywords" content="elenco utenti" />

    <meta
      name="author"
      content="Loris Libralato, Leonardo Lucato, Piva Riccardo, Matteo Campagnaro, Tommaso Diviesti"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--html_head-->
    <link rel="stylesheet" href="css/style.css" media="screen" />
    <link rel="stylesheet" href="css/mini.css" media="screen and (max-width: 930px)" />
  </head>

  <body>
    <!--header-->

    <nav id="breadcrumb">
      <p>Ti trovi in: Utenti</p>
    </nav>

    <nav id="menu">
      <ul id="navbar">
        <li>
          <a href="index.php"><span lang="en">Home</span></a>
        </li>
        <li><a href="categories.php">Categorie</a></li>
        <!--menu_admin_start-->
        <li id="currentLink">Utenti</li>
        <li><a href="create.php">Crea Contenuto</a></li>
        <!--menu_admin_end-->
        <li><a href="about.php">Informazioni</a></li>
      </ul>
      <!--profile-->
    </nav>

    <aside></aside>

    <!--
        Qui onestamente non ho in mente cosa
        fare di preciso, ma immagino che ci sarà
        tipo una tabella di utenti e poi si preme e si
        va sulla pagina dell utente ma è completamente diversa
        da categories e films
    -->

    <main id="contenuto">
      <h2>Utenti</h2>
      <ul>
        <!--users_list_start-->
        <li><a href="profile.php?username={{profile_username}}">{{profile_username}}</a></li>
        <!--users_list_end-->
      </ul>
    </main>

    <!--torna_su-->
    <!--footer-->
  </body>
</html>
