<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <title>Popcorn time</title>

    <meta name="description" content="Elenco degli utente registrati" />
    <meta name="keywords" content="elenco utenti" />

    <meta name="author" content="FrankCastleTech" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/style.css" media="screen" />
    <link rel="stylesheet" href="css/mini.css" media="screen and (max-width: 1200px)" />
  </head>

  <body>
    <!--header-->
    <!--vai_contenuto-->

    <nav id="breadcrumb">
      <p>Ti trovi in: Utenti</p>
    </nav>

    <nav id="menu">
      <ul>
        <li><a href="index.php">Home</a></li>
        <li><a href="categories.php">Categorie</a></li>
        <!--menu_admin_start-->
        <li id="currentLink">Utenti</li>
        <!--menu_admin_end-->
        <li><a href="about.php">Informazioni</a></li>
      </ul>
      <!--profile-->
    </nav>

    <aside></aside>

    <!--
        Qui onestramente non ho in mente cosa
        fare di preciso, ma immagino che ci sarà
        tipo una tabella di utenti e poi si preve e si
        va sulla pagina dell utente ma è completamente diversa
        da categories e films
    -->

    <main>
      <h2>Utenti</h2>
      <ul>
        <!--users_list_start-->
        <li><a href="profile.php?username={{profile_username}}">{{profile_username}}</a></li>
        <!--users_list_end-->
      </ul>
    </main>

    <!--torna_su-->
    <!--footer-->
  </body>
</html>
