/* css per il resize della finestra da mobile*/

body {
  display: flex; /* Serve per tenere il footer in basso */
  flex-direction: column;
  background-color: var(--color-background);
  margin: 0 1em;
  padding: 0;
}

footer {
  display: inline;
}

footer img {
  display: none;
}

#informazioniPrincipali {
  flex-direction: column;
  align-items: center;
}

.locandina {
  max-width: 15em;
}

.info-list {
  width: 100%;
}

/* Per togliere il menu e fare i bordi della breadcrumb rotondi */
#menu {
  display: none;
}

#navbar {
  flex-direction: column;
  row-gap: 0.5em;
  width: 100%;
  align-items: center;
}

#navbar li {
  width: 100%;
}

#navbar li a,
#currentLink {
  justify-content: center;
  padding: 0.8em;
  width: 100%;
  box-sizing: border-box;
}

#loggato {
  column-gap: 0;
  width: 10em;
  margin-right: 0;
  margin-bottom: 1em;
  /* flex-direction: column;
  row-gap: 1em; */
  flex-wrap: nowrap;
  flex-direction: row;
  column-gap: 0.5em;
  justify-content: center;
}

#loggato form {
  width: fit-content;
  flex-grow: 0.7;
}

#login {
  flex-direction: column;
  gap: 0.5em;
  padding: 0;
  width: 100%;
  align-items: center;
}

#login a {
  display: block;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.person-list {
  grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
}

.person-list figure {
  padding: 0.5em;
}

.film-card li a {
  padding: 0.5em;
  border-radius: 16px;
}

#btnOpen:active {
  background-color: var(--color-background);
}

#btnOpen {
  display: block;
  width: 2rem;
  height: 1.6rem;
  margin: -0.4em -0.27em -0.4em 2em;
  background-color: var(--color-secondary-background);
  background-image: url(../images/menu.png);
  background-origin: content-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 0.3px solid white;
  cursor: pointer;
  padding: 0.6em 0.5em;
  border-radius: 0.4em;
}

#menu.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
  padding: 1em;
}

#top-nav {
  border-radius: 8px;
}

#top-nav.active {
  border-radius: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.usersList {
  grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
  /* grid-template-columns: repeat(auto-fill, minmax(7em, 1fr)); */
}

.stileEliminaFilm {
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1em;
}

.stileEliminaFilm form {
  align-self: flex-end;
}

.stileEliminaFilm input[type='submit'] {
  padding: 1em 1em;
}
