*::-webkit-scrollbar,
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb:hover,
*::-webkit-outer-spin-button,
*::-webkit-inner-spin-button {
  display: none;
  overflow: hidden;
}

#tornaSu,
#loggato p,
#loggato legend,
.stileEliminaFilm legend,
#generi form legend,
.person-list figcaption form legend,
.formGestione legend,
.aiutoNavigazione {
  display: none;
}

#loggato a {
  text-indent: 0;
  background: none;
  color: var(--text-color-light);
  width: fit-content;
}

/* #top-nav, */
#tornaSu,
.aiutoNavigazione,
#btnOpen {
  display: none;
}

footer img {
  display: none;
}

header {
  background: none;
  background-color: var(--color-primary);
  padding: 0;
}

/* Correzione rottura interna di elementi */

#cast,
#crew,
#generi,
#sectionDescrizione,
#sectionRecensione,
#recensioni,
.person-list li,
.films li,
.film-card li,
.recensione {
  page-break-inside: avoid;
}

/* Rimozione ombra attorno elementi */

.login-form form,
.info-list,
.locandina,
.griglia-categorie li,
.films li a,
#userInfo,
.usersList li a,
.griglia-about li,
.frameRecensione,
.formRecensione,
.formGestione,
.formCreazione,
.recensione {
  box-shadow: none;
}
