* {
  padding: 0em;
  margin: 0em;
}

#menu {
  border: 1px solid black;
  padding: 0.5em;
  background-color: var(--color-primary);
  color: var(--color-text-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-style: none;
}

/* :root {
  --color-primary: #1e1e1e;
  --color-secondary: #d4af37;
  --color-text-light: #ffffff;
  --color-text-dark: #333333;
  --color-background: #f5f5f5;
  --color-accent: #e31837;
  --color-breadcrumb: #595959;
  --color-link: #0066cc;
  --color-visited: #551a8b;
  --color-hover: #e31837;
} */

body {
  min-height: 100vh;
  display: flex; /* Serve per tenere il footer in basso */
  flex-direction: column;
  background-color: var(--color-background);
  margin-left: 20%;
  margin-right: 20%;
}

:root {
  /* colori principali */
  --color-primary: #1a1a1a; /* grigio molto scuro per sfondo principale */
  --color-secondary: #c4b27f; /* oro sobrio per contrasti usato anche per link visitati ma andrebbe deciso un altro colore*/
  --color-extra: #d2691e; /* cioccolato per titoli h4 */
  --color-text-light: #ffffff; /* bianco per testo su sfondo scuro */
  --color-text-dark: #000000; /* nero puro per contrasto massimo */
  --color-content-bg: #333333; /* grigio scuro per sfondo contenuto */
  --color-background: #242424; /* grigio scuro per sfondo */
  --color-accent: #8b0000; /* rosso scuro sobrio */
  --color-breadcrumb: #333333; /* grigio scuro per breadcrumb */
  --color-link: #4aaaff; /* blu sobrio per link */
  --color-visited: #b6732f; /* perù per link visitati */
  --color-hover: #a52a2a; /* rosso brunito per hover */
  --color-text-secondary: #d3d3d3; /* grigio chiaro per testo secondario */
  --color-current: #de593b; /* rosso puro per link corrente */
}

/* Stile Header */

header {
  text-align: center;
  padding: 3em 4em;
  background-color: var(--color-primary);
  color: var(--color-text-light);
  background:
    url('../images/oppenheimer.jpg') left center,
    url('../images/wildRobot.jpg') right center,
    var(--color-primary);
  background-size:
    15% auto,
    15% auto;
  background-position:
    4em center,
    right 4em center;
  background-repeat: no-repeat;
  margin: 1em 0;
}

#contenuto-centrale {
  width: 50%;
  margin: 0 auto;
}

header h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

header h2 {
  font-size: 1.2em;
  font-weight: normal;
  color: var(--color-text-secondary);
  line-height: 1.4em;
}

/* breadcrumb */

#breadcrumb {
  background-color: var(--color-breadcrumb);
  color: var(--color-text-light);
  padding: 0.5em;
  padding-left: 1em;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#breadcrumb a {
  color: var(--color-text-light);
  text-decoration: underline;
}

#breadcrumb a:hover {
  color: var(--color-hover);
}

/* Stile Menu */
#navbar {
  display: flex;
  list-style-type: none;
}

#navbar li {
  margin: 0 1em;
}

#navbar li a {
  color: var(--color-link);
  text-decoration: none;
}

#navbar li a:hover {
  color: var(--color-hover);
}

#navbar li a:visited {
  color: var(--color-visited);
}

#navbar li a:visited:hover {
  color: var(--color-hover);
}

#currentLink {
  text-decoration: underline;
  color: var(--color-current);
}

/* login/signup form */

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form form {
  background-color: var(--color-primary);
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin: 2em auto;
}

.login-form fieldset {
  border: none;
  padding: 0;
}

.login-form legend {
  font-size: 1.5em;
  color: var(--color-secondary);
  margin-bottom: 1em;
}

.login-form label {
  display: block;
  color: var(--color-text-light);
  margin-bottom: 0.5em;
}

.login-form input[type='text'],
.login-form input[type='password'] {
  width: 100%;
  padding: 0em;
  padding-top: 1.5em;
  margin-bottom: 1em;
  border: 1px solid var(--color-secondary);
  border-radius: 4px;
  background-color: var(--color-background);
  color: var(--color-text-light);
}

.login-form input[type='submit'] {
  background-color: var(--color-secondary);
  color: var(--color-text-dark);
  padding: 0.75em 1.5em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form input[type='submit']:hover {
  color: var(--color-text-dark);
  background-color: var(--color-hover);
}

.login-form a {
  color: var(--color-link);
  text-decoration: none;
}

.login-form a:hover {
  color: var(--color-hover);
}

/* login navbar */

#login {
  color: var(--color-text-light);
  text-decoration: none;
  display: flex;
  gap: 1em;
}

#login a {
  color: var(--color-link);
  text-decoration: none;
}

#login a:hover {
  color: var(--color-hover);
}

#login a:visited {
  color: var(--color-visited);
}

#login a:visited:hover {
  color: var(--color-hover);
}

/* logout */

#loggato p {
  color: var(--color-text-light);
}

#loggato a {
  color: var(--color-link);
  text-decoration: none;
}

#loggato a:hover {
  color: var(--color-hover);
}

#loggato a:visited {
  color: var(--color-visited);
}

#loggato a:visited:hover {
  color: var(--color-hover);
}

#loggato fieldset {
  border: none;
}

#loggato legend {
  color: var(--color-text-light);
  margin-top: 0.2em;
  margin-right: 0.3em;
  float: left;
}

#loggato input[type='submit'] {
  background-color: var(--color-secondary);
  color: var(--color-text-light);
  padding: 0.3em 0.4em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* contenuto-centrale */

main {
  flex: 1; /* Serve per tenere il footer in basso */
  background-color: var(--color-content-bg);
  color: var(--color-text-light);
  padding: 1.75em;
  margin: 1em 0;
  border-radius: 8px;
}

main h2 {
  color: var(--color-secondary);
  margin-bottom: 0.5em;
}

main h3 {
  color: var(--color-secondary);
  margin-bottom: 0.5em;
}

main h4 {
  color: var(--color-extra);
  margin-bottom: 0.5em;
}

main p {
  color: var(--color-text-secondary);
  margin-bottom: 1em;
}

main a {
  color: var(--color-link);
  text-decoration: none;
}

main a:hover {
  color: var(--color-hover);
}

main a:visited {
  color: var(--color-visited);
}

main a:visited:hover {
  color: var(--color-hover);
}

/* griglia categorie */

#griglia-categorie {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1em;
  list-style-type: none;
  /* padding: 0; */
}

#griglia-categorie li {
  background-color: var(--color-primary);
  border-radius: 8px;
  text-align: center;
}

#griglia-categorie a {
  display: block;
  height: auto;
  margin-top: 6em;
  margin-bottom: 6em;
  color: var(--color-text-light);
  text-decoration: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-image: url('../images/placeholder.jpg'); */ /* da decidere se mettere immagine per categoria */
}

#griglia-categorie a:hover {
  color: var(--color-hover);
}

#griglia-categorie a:visited {
  color: var(--color-visited);
}

#griglia-categorie a:visited:hover {
  color: var(--color-hover);
}

/* locandina e lista informazioni film */

#informazioniPrincipali {
  display: flex;
}

.info-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.info-list li {
  margin-bottom: 0.5em;
}

.info-title {
  font-weight: bold;
  width: 15em;
}

/* Locandina film */
.locandina {
  max-width: 20em;
  height: auto;
  border-radius: 8px;
  margin-right: 3em;
}

/* Generi film */

#generi li {
  list-style: none;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

#generi ul {
  margin-bottom: 1em;
}

#generi h4 {
  margin-bottom: 0;
}

/* Lista persone film */

.person-list {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(12em, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  gap: 1em;
  list-style-type: none;
  padding: 0;
  margin: 1em 0;
  margin-right: 0.5em;
}

.person-list figure {
  background-color: var(--color-primary);
  padding: 1em;
  border-radius: 8px;
  text-align: center;
  max-width: 12em;
  height: 92%;
}

.person-list img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.person-title {
  font-weight: bold;
  color: var(--color-extra);
}

.person-info {
  text-align: left;
  color: var(--color-text-secondary);
  margin-top: 1em;
  margin-bottom: 0em;
}

/* Stile per la sezione delle recensioni */
.recensione {
  background-color: var(--color-primary);
  padding: 1em;
  border-radius: 8px;
  margin-bottom: 1em;
}

.recensione dt {
  font-weight: bold;
  color: var(--color-extra);
}

.recensione dd {
  margin-left: 1em;
  margin-bottom: 0.5em;
  color: var(--color-text-secondary);
  overflow-wrap: break-word;
}

/* Stile per il form delle recensioni */
#formRecensione {
  background-color: var(--color-primary);
  padding: 1em;
  border-radius: 8px;
  margin-bottom: 1em;
}

#formRecensione fieldset {
  border: none;
}

#formRecensione legend {
  font-weight: bold;
  color: var(--color-secondary);
  margin-bottom: 0.5em;
}

#formRecensione label {
  display: block;
  color: var(--color-extra);
  margin-bottom: 0.5em;
}

#formRecensione input[type='text'],
#formRecensione textarea,
#formRecensione input[type='range'] {
  width: 100%;
  margin-bottom: 1em;
  margin-right: 3em;
  border: 1px solid var(--color-secondary);
  border-radius: 4px;
  background-color: var(--color-background);
  color: var(--color-text-light);
}

#formRecensione input[type='submit'] {
  background-color: var(--color-secondary);
  color: var(--color-text-light);
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#formRecensione input[type='submit']:hover {
  background-color: var(--color-hover);
}

/* Stile Footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: var(--color-primary);
  color: var(--color-text-light);
  margin-top: 0;
}

footer img {
  width: 88px;
  height: auto;
}

footer p {
  text-align: center;
}

/* aiuti navigazione */

.navigationHelp {
  position: absolute;
  text-indent: -999em;
  color: var(--color-link);
}

.navigationHelp:focus {
  position: static;
  text-indent: 0;
  color: var(--color-secondary);
}

/* Stile 404 */

.error404 {
  width: 100%;
  padding: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3em;
  padding-bottom: 3em;
  color: var(--color-text-light);
  /* background:
    url('../images/404.jpg') center center,
    var(--color-primary);
  background-size: 80% auto;
  background-position: center;
  background-repeat: no-repeat; */
}

.error404 h2 {
  color: var(--color-text-secondary);
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
  background-image: url('../images/404.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 8em;
  /* background-position: 0 2em; */
  background-position: bottom;
  /* text-indent: -99999em; */
  font-size: 3em;
}

.error404 p {
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
}

/* Sezione aiuti alla navigazione */

.listaAiuti {
  list-style-type: none;
}
.aiutoNavigazione {
  position: absolute;
  text-indent: -9999em;
}

.aiutoNavigazione:focus {
  position: static;
  text-indent: 0;
}

/*
:root {
    --bg-color: #0365AE;
    --txt-color: #FFF;
    --bread-color: #163F77;
    --news-color: #F3C42B;
    --news-txt-color: #000;
    --content-bg-color: #FFF;
    --content-txt-color: #000;
    --link-color: #FFF;
    --visited-color: #F3C42B;
}

html,
body {
    color: var(--txt-color);
    background-color: var(--bg-color);
}

body {
    font-size: 100%;
    font-family: "Lexend", Roboto, sans-serif;
    line-height: 1.5em;
    max-width: 1024px;
    margin: auto;
    border: 1px solid #000;
} */
