* {
  padding: 0em;
  margin: 0em;
}

#menu {
  border: 1px solid black;
  padding: 0.5em;
  background-color: var(--color-primary);
  color: var(--color-text-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-style: none;
}

/* :root {
  --color-primary: #1e1e1e;
  --color-secondary: #d4af37;
  --color-text-light: #ffffff;
  --color-text-dark: #333333;
  --color-background: #f5f5f5;
  --color-accent: #e31837;
  --color-secondary-background: #595959;
  --color-link: #0066cc;
  --color-visited: #551a8b;
  --color-hover: #e31837;
} */

body {
  min-height: 100vh;
  display: flex;
  /* Serve per tenere il footer in basso */
  flex-direction: column;
  background-color: var(--color-background);
  margin-left: 20%;
  margin-right: 20%;
}

:root {
  /* colori principali */

  --color-primary: #000000;
  /* grigio molto scuro per sfondo principale */
  --color-secondary: #c4b27f;
  /* oro sobrio per contrasti usato anche per link visitati ma andrebbe deciso un altro colore*/
  --color-extra: #d2691e;
  /* cioccolato per titoli h4 */

  --color-text-light: #ffffff;
  /* bianco per testo su sfondo scuro */
  --color-text-dark: #000000;
  /* nero puro per contrasto massimo */

  --color-content-bg: #000000;
  /* grigio scuro per sfondo contenuto */
  --color-background: #161617;
  /* grigio scuro per sfondo */
  --color-secondary-background: #2b2b2d;
  /* grigio meno scuro per sfondo*/

  --color-link: #4aaaff;
  /* blu sobrio per link */
  --color-visited: #b27ffa;
  /* perù per link visitati */

  --color-text-secondary: #bababa;
  /* grigio chiaro per testo secondario */
  --color-current: #e03838;
  /* rosso puro per link corrente */

  --color-button-hover: #344ca3;

  --color-gradient1: #f7b500;
  --color-gradient2: #6dd400;
}

/* Stile Header */

header {
  text-align: center;
  padding: 3em 4em;
  background-color: var(--color-primary);
  color: var(--color-text-light);
  background: url('../images/header_bck.png');
  background-size:
    15% cover,
    15% cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 1em 0;
  height: 8em;
}

/*
header {
  text-align: center;
  padding: 3em 4em;
  background-color: var(--color-primary);
  color: var(--color-text-light);
  background:
    url('../images/oppenheimer.jpg') left center,
    url('../images/wildRobot.jpg') right center,
    var(--color-primary);
  background-size:
    15% auto,
    15% auto;
  background-position:
    4em center,
    right 4em center;
  background-repeat: no-repeat;
  margin: 1em 0;
}
*/
#contenuto-centrale {
  width: 50%;
  margin: 0 auto;
}

header h1 {
  font-size: 2.5em;
  margin-top: 1em;
}

header h2 {
  font-size: 1.2em;
  font-weight: normal;
  color: var(--color-text-secondary);
  line-height: 1.4em;
}

/* breadcrumb */

#breadcrumb {
  background-color: var(--color-secondary-background);
  color: var(--color-text-light);
  padding: 0.5em;
  padding-left: 1em;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#breadcrumb a {
  color: var(--color-text-light);
  text-decoration: underline;
}

#breadcrumb a:hover {
  border-bottom: 0.2em solid;
}

/* Stile Menu */
#navbar {
  display: flex;
  list-style-type: none;
}

#navbar li {
  margin: 0 1em;
}

#navbar li a {
  color: var(--color-link);
  text-decoration: none;
}

#navbar li a:hover {
  border-bottom: 0.08em solid;
}

#navbar li a:visited {
  color: var(--color-visited);
}

#navbar li a:visited:hover {
  border-bottom: 0.08em solid;
}

#currentLink {
  border-bottom: 0.08em solid;
  color: var(--color-current);
}

/* login/signup form */

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.login-form form {
  background-image: url(../images/back.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.08em solid var(--color-text-secondary);
  background-color: var(--color-secondary-background);
  /* lasciare il background-color che se non c'è l'immagine c'è il colore almeno */
  /* padding-left: 1.5em; */
  padding: 2em;
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  width: 60%;
  margin: 2em auto;
}

.login-form fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

.login-form legend {
  font-size: 1.6em;
  font-weight: bold;
  color: var(--color-text-light);
  margin-bottom: 0.5em;
}

.login-form label {
  display: block;
  color: var(--color-text-light);
  margin-bottom: 0.5em;
}

.login-form input[type='text'],
.login-form input[type='password'] {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em;
  /* padding-top: 0.5em; */
  /* padding-left: 0.5em; */
  /* padding-bottom: 0.5em; */
  margin-bottom: 1em;
  border-radius: 4px;
  background-color: var(--color-text-light);
  color: var(--color-text-dark);
}

.login-form input[type='submit'] {
  width: 20%;
  min-width: fit-content;
  background-color: var(--color-link);
  color: var(--color-text-light);
  padding: 0.75em 1.5em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 1em;
}

.login-form input[type='submit']:hover {
  color: var(--color-text-light);
  background-color: var(--color-button-hover);
}

.login-form a {
  color: var(--color-link);
  text-decoration: none;
}

.login-form a:hover {
  border-bottom: 0.08em solid;
}

.login-form fieldset p {
  margin: 0;
  margin-top: 1em;
}

.loginForm-error {
  color: var(--color-text-light);
  padding-bottom: 0.2em;
  border-bottom: 0.15em solid var(--color-current);
}

/* login navbar */

#login {
  color: var(--color-text-light);
  text-decoration: none;
  display: flex;
  gap: 1em;
}

#login a {
  color: var(--color-link);
  text-decoration: none;
}

#login a:hover {
  border-bottom: 0.08em solid;
}

#login a:visited {
  color: var(--color-visited);
}

#login a:visited:hover {
  border-bottom: 0.08em solid;
}

/* logout */

#loggato p {
  color: var(--color-text-light);
}

#loggato a {
  color: var(--color-link);
  text-decoration: none;
}

#loggato a:hover {
  border-bottom: 0.08em solid;
}

#loggato a:visited {
  color: var(--color-visited);
}

#loggato a:visited:hover {
  border-bottom: 0.08em solid;
}

#loggato fieldset {
  border: none;
}

#loggato legend {
  color: var(--color-text-light);
  margin-top: 0.2em;
  margin-right: 0.3em;
  float: left;
}

#loggato input[type='submit'] {
  background-color: var(--color-secondary);
  color: var(--color-text-light);
  padding: 0.3em 0.4em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* contenuto-centrale */

main {
  flex: 1;
  /* Serve per tenere il footer in basso */
  background-color: var(--color-content-bg);
  color: var(--color-text-light);
  padding: 1.75em;
  margin: 1em 0;
  border-radius: 8px;
}

main h2 {
  color: var(--color-secondary);
  margin-bottom: 0.3em;
  font-size: 2.4em;
}

main h3 {
  color: var(--color-text-light);
  margin-bottom: 0.3em;
  font-size: 1.8em;
}

main h4 {
  color: var(--color-extra);
  margin-bottom: 0.5em;
}

main p {
  color: var(--color-text-secondary);
  margin-bottom: 1em;
  font-size: 1.1em;
  line-height: 1.4em;
}

main a {
  color: var(--color-link);
  text-decoration: none;
}

main a:hover {
  border-bottom: 0.08em solid;
}

main a:visited {
  color: var(--color-visited);
}

main a:visited:hover {
  border-bottom: 0.08em solid;
}

/* griglia categorie */

.griglia-categorie {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1em;
  list-style-type: none;
}

/* controllare se va bene tenere griglia-categorie come classe e metterla id */
.griglia-categorie li {
  margin-top: 0.3em;
  background-color: var(--color-primary);
  border-radius: 8px;
  text-align: center;
  border: 0.07em solid var(--color-text-secondary);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Immagini sfondo categorie */
#cat_fantascienza {
  background-image: url('../images/fantascienza.png');
}

#cat_azione {
  background-image: url('../images/azione.png');
}

#cat_avventura {
  background-image: url('../images/avventura.png');
}

#cat_animazione {
  background-image: url('../images/animazione.png');
}

#cat_famiglia {
  background-image: url('../images/famiglia.png');
}

#cat_commedia {
  background-image: url('../images/commedia.png');
}

#cat_thriller {
  background-image: url('../images/thriller.png');
}

#cat_romance {
  background-image: url('../images/romance.png');
}

#cat_horror {
  background-image: url('../images/horror.png');
}

#cat_dramma {
  background-image: url('../images/dramma.png');
}

#cat_fantasy {
  background-image: url('../images/fantasy.png');
}

.griglia-categorie a {
  display: block;
  padding-top: 6em;
  padding-bottom: 6em;
  color: var(--color-text-light);
  text-decoration: none;
}

.griglia-categorie a:hover {
  border: none;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}

.griglia-categorie a:visited {
  color: var(--color-visited);
}

.griglia-categorie a:visited:hover {
  border: none;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}

/* About */

.griglia-about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 3em;
  list-style-type: none;
  margin-top: 1em;
}

.griglia-about li {
  text-align: center;
  border-radius: 0.5em;
  border: 0.08em solid var(--color-text-light);
  background-color: var(--color-secondary);
}

.griglia-about li img{
  width: 100%;
  max-height: 10em;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

.griglia-about li p{
  margin-top: 0.3em;
  color: var(--color-text-light);
}

/* locandina e lista informazioni film */

#informazioniPrincipali {
  display: flex;
}

.info-list {
  list-style-type: none;
}

.info-list li {
  margin-bottom: 0.5em;
}

.info-title {
  font-weight: bold;
  width: 15em;
}

/* Locandina film */
.locandina {
  max-width: 20em;
  height: auto;
  border-radius: 8px;
  margin-right: 3em;
}

/* Generi film */

#generi li {
  list-style: none;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

#generi ul {
  margin-bottom: 1em;
}

/* Lista persone film */

.person-list {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(12em, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  gap: 1em;
  list-style-type: none;
  margin: 1em 0;
  margin-right: 0.5em;
}

.person-list figure {
  background-color: var(--color-secondary-background);
  padding: 1em;
  border-radius: 8px;
  text-align: center;
  max-width: 12em;
  height: 92%;
}

.person-list img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.person-title {
  font-weight: bold;
  color: var(--color-extra);
}

.person-info {
  text-align: left;
  color: var(--color-text-secondary);
  margin-top: 1em;
  margin-bottom: 0em;
}

/* Stile per la sezione delle recensioni */
.recensione {
  background-color: var(--color-secondary-background);
  padding: 1em;
  border-radius: 8px;
  margin-bottom: 1em;
}

.recensione dt {
  font-weight: bold;
  color: var(--color-extra);
}

.recensione dd {
  margin-left: 1em;
  margin-bottom: 0.5em;
  color: var(--color-text-secondary);
  overflow-wrap: break-word;
}

/* Stile per il form delle recensioni */

.formRecensione {
  background-color: var(--color-secondary-background);
  /* padding: 0.5em 0; */
  padding: 2em;
  border-radius: 8px;
  /* margin-bottom: 1em; */
  margin: 2em auto;
}

.formRecensione fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  /* position: relative; */
  /* margin: 1em; */
  /* padding: 0.5em; */
  /* margin-right: 2em; */
}

.formRecensione legend {
  font-weight: bold;
  color: var(--color-secondary);
  margin-bottom: 1em;
}

.formRecensione label {
  display: block;
  color: var(--color-extra);
  margin-bottom: 0.5em;
}

.formRecensione input[type='text'],
.formRecensione textarea {
  width: 100%;
  box-sizing: border-box;
  /* margin-right: 3em; */
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid var(--color-secondary);
  border-radius: 4px;
  resize: none;

  /* Versione colore sfondo scuro testo chiaro */

  background-color: var(--color-background);
  color: var(--color-text-light);

  /* Versione colore sfondo chiaro testo scuro */
  /* Questa viene usata pure nel login */
  /* ma non mi piace lo stile in questa pagina */

  /* background-color: var(--color-text-light); */
  /* color: var(--color-text-dark); */
}

.formRecensione input[type='range'] {
  width: 100%;
  margin-bottom: 1em;
  margin-right: 3em;
  border: 1px solid var(--color-secondary);
  border-radius: 4px;
  background-color: var(--color-background);
  color: var(--color-text-light);
}

.formRecensione input[type='submit'] {
  background-color: var(--color-link);
  color: var(--color-text-light);
  padding: 0.75em 1em;
  /* padding: 0.75em 1.5em; */
  border: none;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  cursor: pointer;
  width: 18%;
  min-width: fit-content;
  margin-top: 1em;

  /* Serve per mandare a capo il testo del bottone quando troppo lungo */
  white-space: normal;
  word-wrap: break-word;
}

.formRecensione input[type='submit']:hover {
  color: var(--color-text-light);
  background-color: var(--color-button-hover);
}

/* Eliminazione recensione */

#formEliminazione {
  background-color: var(--color-secondary-background);
  padding: 0 1em;
  border-radius: 8px;
  margin: 1em auto 0;
}

#formEliminazione fieldset {
  border: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5em;
}

#formEliminazione legend {
  /* font-weight: bold; */
  color: var(--color-secondary);
  float: left;
  margin: 1em 1em 1em 0;
}

#formEliminazione input[type='submit'] {
  background-color: var(--color-link);
  color: var(--color-text-light);
  padding: 0.75em 1em;
  /* padding: 0.75em 1.5em; */
  border: none;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  cursor: pointer;
  width: 18%;
  min-width: fit-content;
  margin: 1em 0;

  /* Serve per mandare a capo il testo del bottone quando troppo lungo */
  white-space: normal;
  word-wrap: break-word;
}

#formEliminazione input[type='submit']:hover {
  color: var(--color-text-light);
  background-color: var(--color-button-hover);
}

/* Stile Footer */

footer {
  /* padding: 1em; */
  background-color: var(--color-primary);
  color: var(--color-text-light);
}

/* footer img { */
/*   width: 88px; */
/*   height: auto; */
/* } */

footer p {
  padding: 1em 2em;
  margin: 0.2em 1em;
  text-align: center;
  background-image: url('../images/w3c_html5.png'), url('../images/w3c_css.png');
  background-repeat: no-repeat;
  background-size: 6em auto;
  background-position:
    left center,
    right center;
}

/* aiuti navigazione */

.navigationHelp {
  position: absolute;
  text-indent: -999em;
  color: var(--color-link);
}

.navigationHelp:focus {
  position: static;
  text-indent: 0;
  color: var(--color-secondary);
}

/* Stile 404 */

.error404 {
  width: 100%;
  padding: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3em;
  padding-bottom: 3em;
  color: var(--color-text-light);
  /* background:
    url('../images/404.jpg') center center,
    var(--color-primary);
  background-size: 80% auto;
  background-position: center;
  background-repeat: no-repeat; */
}

.error404 h2 {
  color: var(--color-text-secondary);
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
  background-image: url('../images/404.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 8em;
  /* background-position: 0 2em; */
  background-position: bottom;
  /* text-indent: -99999em; */
  font-size: 3em;
}

.error404 p {
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
}

/* Sezione aiuti alla navigazione */

.listaAiuti {
  list-style-type: none;
}

.aiutoNavigazione {
  position: absolute;
  text-indent: -9999em;
}

.aiutoNavigazione:focus {
  position: static;
  text-indent: 0;
}

/*
:root {
    --bg-color: #0365AE;
    --txt-color: #FFF;
    --bread-color: #163F77;
    --news-color: #F3C42B;
    --news-txt-color: #000;
    --content-bg-color: #FFF;
    --content-txt-color: #000;
    --link-color: #FFF;
    --visited-color: #F3C42B;
}

html,
body {
    color: var(--txt-color);
    background-color: var(--bg-color);
}

body {
    font-size: 100%;
    font-family: "Lexend", Roboto, sans-serif;
    line-height: 1.5em;
    max-width: 1024px;
    margin: auto;
    border: 1px solid #000;
} */